<ul class="m-0 mx-auto mb-3 details-list user green-white readonly" *ngIf="showKRARecords || showVerifyOTP">
    <li class="pan">
        <label>PAN:</label>
        <span>ENQC77693A</span>
    </li>
    <li>
        <label>Name:</label>
        <span>Aditya Birla Sun Life AMC Ltd</span>
    </li>
    <li>
        <label>Date of Incorporation:</label>
        <span>26-Jan-1999</span>
    </li>
</ul>
<div class="card-div custom-card-div mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>
            <div class="card-value" *ngIf="showKRARecords">
                <div class="custom-card-body" [formGroup]="kycForm1">

                    <div class="row m-0 mb-3">
                        <div class="col-12 p-0 form-field">
                            <label class="mb-4">Please verify the following contact details as per KRA Records:</label>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field has-edit">
                            <label>Mobile Number <img class="ml-3" src="assets/img/common/edit.svg" alt="Edit Icon" (click)="toggleMobile()"></label>
                            <p class="m-0 field-value" *ngIf="!showMobile">9753108462</p>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" value="9753108462"
                                class="form-control w-100" *ngIf="showMobile">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field has-edit">
                            <label>Email ID <img class="ml-3" src="assets/img/common/edit.svg" alt="Edit Icon" (click)="toggleEmail()"></label>
                            <p class="m-0 field-value" *ngIf="!showEmail">janedoe@gmail.com</p>
                            <input type="text" id="emailId" placeholder="Enter Email ID" value="janedoe@gmail.com"
                                class="form-control w-100" *ngIf="showEmail">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper">
                                <select class="form-control w-100" formControlName="taxStatus"
                                    [ngClass]="{ 'is-invalid': kycForm1Controls.taxStatus.touched && kycForm1Controls.taxStatus.errors }" (change)="setTaxstatus($event.target.value)">
                                    <option value="">Select Tax Status</option>
                                    <option value="{{status}}" *ngFor="let status of taxStatusData">{{status}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showPanForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm1.invalid}" [disabled]="kycForm1.invalid" (click)="showVerifyOTPForm()">Generate OTP</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-value" *ngIf="showVerifyOTP">
                <div class="custom-card-body" [formGroup]="kycForm2">
                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field custom-form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" value="9042216985" class="form-control w-100" disabled>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field custom-form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" value="janedoe@gmail.com" class="form-control w-100" disabled>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field custom-form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper readonly">
                                <select class="form-control w-100" disabled formControlName="taxStatus">
                                    <option value="">Select Tax Status</option>
                                    <option value="{{status}}" *ngFor="let status of taxStatusData">{{status}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 seperator"></div>
                        <div class="col-12 col-md-10 col-lg-8 p-0 pr-md-3 pr-lg-4 form-field">
                            <label>Please enter the OTP sent on the registered mobile number and Email ID*</label>
                            <input type="text" id="otp" placeholder="Enter OTP" class="form-control w-100" formControlName="otp" autocomplete="off" [ngClass]="{ 'is-invalid': kycForm2Controls.otp.touched && kycForm2Controls.otp.errors }" appAcceptOnlyNumber>
                        </div>
                        <div class="col-12 p-0 m-0 mt-2 note-text">
                            <span>OTP will expire in 8m 50s</span>
                            <button class="btn btn-link">Resend OTP</button>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showPanForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm2.invalid}" [disabled]="kycForm2.invalid" (click)="showIncorporationForm()">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row mx-0 custom-btn-block proceed-bbtn">
    <div class="col-12 p-0">
        <p class="mb-2 text-left mandatory-message">All fields marked with * are mandatory</p>
    </div>
</div>
