

<div class="white-card">
    <div class="row">
      <div class="col-md-9">
        <h2>Placeholder Text</h2>
      </div>
      <div class="col-md-3">
        
      </div>
    </div>
    <div class="s-banner-div">
        <swiper [config]="config">
            <div class="swiper-wrapper">
          <!-- NFO Fund Div Starts Here -->
         
            <div class="swiper-slide"> 
               
                          <div class="item"><img src="./assets/img/banner/h-banner.svg"/></div>
                       </div>
                   
                       <div class="swiper-slide"> 
               
                        <div class="item"><img src="./assets/img/banner/h-banner.svg"/></div>
                     </div>
                     <div class="swiper-slide"> 
               
                        <div class="item"><img src="./assets/img/banner/h-banner.svg"/></div>
                     </div>
              
           
            
        </div>
        
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        
        
        </swiper>
       
      

    </div>
    <!-- <style>
      .banner-slider .owl-nav{
        display: none;
      }
    </style> -->
    <!-- <div class="s-banner-footer">

    </div>
     -->
  </div>