<ul class="m-0 mx-auto mb-3 details-list user green-white readonly">
    <li class="pan">
        <label>PAN:</label>
        <span>ENQC77693A</span>
    </li>
    <li>
        <label>Name:</label>
        <span>Aditya Birla Sun Life AMC Ltd</span>
    </li>
    <li>
        <label>Date of Incorporation:</label>
        <span>26-Jan-1999</span>
    </li>
</ul>
<div class="card-div custom-card-div mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>
            <div class="card-value">
                <div class="custom-card-body" [formGroup]="kycForm4">

                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field wrap-drop">
                            <label>City of Incorporation*</label>
                            <input type="text" id="city" placeholder="Enter City" class="form-control w-100" autocomplete="off" formControlName="city" (keypress)="showCityData()">
                            <ul class="drop" *ngIf="showSelectCity">
                                <li *ngFor="let city of citites | filterArray:kycForm4.value.city" (click)="selectCity(city)"><a>{{city}}</a></li>
                            </ul>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field custom-form-field">
                            <label>Country of Incorporation</label>
                            <input type="text" id="emailId" placeholder="Enter Country" formControlName="country" class="form-control w-100" disabled>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showVerifiedKycForm()">Go Back</button>
                        </div>
                        <!-- <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" (click)="showAdditionalForm()">Submit OTP</button>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 custom-btn-block proceed-bbtn">
    <div class="col-12 p-0">
        <p class="mb-2 text-left mandatory-message">All fields marked with * are mandatory</p>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
        <button class="btn btn-primary" [ngClass]="{'disabled': kycForm4.invalid}" [disabled]="kycForm4.invalid" (click)="showAdditionalForm()">Proceed</button>
    </div>
</div>