.kyc-process-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.kyc-process-list li {
    list-style: none;
    max-width: calc(100% /5);
    flex: 1 0 calc(100% /5);
}

.kyc-process-list li .img-wrapper {
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #F2F3F6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kyc-process-list li .img-wrapper img {
    max-width: 40px;
    height: 40px;
}

.kyc-process-list li p {
    margin-top: 15px !important;
    /* font-family: PF Handbook Pro; */
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #000000;
}
.common-page-title {
    /* font-family: PF Handbook Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.018em;
    color: #000000;
    padding: 0;
}
.form-field .form-control.date {
    padding-right: 45px;
    background: url(../../../assets/img/kyc/date.svg) no-repeat;
    background-size: 22px;
    background-position: center right 10px;
}