<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value" *ngIf="showSteps">
                <div class="custom-card-body">
                    <h4 class="m-0 mb-4 common-page-title">Steps to Complete eKYC</h4>
                    <ul class="m-0 p-0 kyc-process-list">
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/upload.svg" alt="Upload Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload PAN & <br /> Proof of Address</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/align-left.svg" alt="Additional eKYC Icon"
                                    class="w-100">
                            </div>
                            <p class="m-0 text-center">Provide Additional <br /> KYC Details</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/fingerprint.svg" alt="FingerPrint Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload PAN & Aadhaar of <br /> Director/Authorised Sigatories</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/dollar-sign.svg" alt="Dollar Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload BR/ASL & Other <br /> Required Documents</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/user-check.svg" alt="User Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Complete Video IPV <br /> & eSign KYC Application</p>
                        </li>
                    </ul>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showPanForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" (click)="showDateOfIncorporationForm()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-value" *ngIf="showDateOfIncorporation">
                <div class="custom-card-body" [formGroup]="kycForm1">
                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>PAN</label>
                            <input type="text" id="pan" placeholder="Enter PAN" class="form-control w-100"
                                formControlName="pan"
                                [ngClass]="{ 'is-invalid': kycForm1Controls.pan.touched && kycForm1Controls.pan.errors }">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Date of Incorporation</label>
                            <!-- <input type="date" id="date-of-incorporation" placeholder="Select date" class="form-control w-100 date" formControlName="dateOfIncorporation" [ngClass]="{ 'is-invalid': kycForm1Controls.dateOfIncorporation.touched && kycForm1Controls.dateOfIncorporation.errors }"> -->
                            <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showStepsForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm1.invalid}"
                                [disabled]="kycForm1.invalid" (click)="showTaxStatusForm()">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-value" *ngIf="showTaxStatus">
                <div class="custom-card-body" [formGroup]="kycForm2">
                    <ul class="m-0 mb-5 details-list user">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number"
                                class="form-control w-100" formControlName="mobile"
                                [ngClass]="{ 'is-invalid': kycForm2Controls.mobile.touched && kycForm2Controls.mobile.errors }">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" class="form-control w-100"
                                formControlName="email"
                                [ngClass]="{ 'is-invalid': kycForm2Controls.email.touched && kycForm2Controls.email.errors }">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper">
                                <select class="form-control w-100" formControlName="taxStatus"
                                    [ngClass]="{ 'is-invalid': kycForm2Controls.taxStatus.touched && kycForm2Controls.taxStatus.errors }">
                                    <option value="">Select Tax Status</option>
                                    <option value="Partnership">Partnership</option>
                                    <option value="Partnership 2">Partnership 2</option>
                                    <option value="Partnership 3">Partnership 3</option>
                                    <option value="Partnership 4">Partnership 4</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showDateOfIncorporationForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm2.invalid}"
                                [disabled]="kycForm2.invalid" (click)="showVerifyOTPForm()">Generate OTP</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="card-value">
                <div class="custom-card-body" [formGroup]="kycForm3">
                    <ul class="m-0 mb-4 details-list user readonly">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-12 p-0 form-field">
                            <label class="mb-4">Please verify the following contact details as per KRA Records:</label>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field has-edit">
                            <label>Mobile Number <img class="ml-3" src="../../../assets/img/common/edit.svg" alt="Edit Icon"></label>
                            <p class="m-0 field-value">9753108462</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field has-edit">
                            <label>Email ID <img class="ml-3" src="../../../assets/img/common/edit.svg" alt="Edit Icon"></label>
                            <p class="m-0 field-value">janedoe@gmail.com</p>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper">
                                <select class="form-control w-100">
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showTaxStatusForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm3.invalid}"
                            [disabled]="kycForm3.invalid" (click)="showSubmitOTPForm()">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="card-value" *ngIf="showVerifyOTP">
                <div class="custom-card-body" [formGroup]="kycForm3">
                    <ul class="m-0 mb-5 details-list user readonly">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" value="9042216985"
                                class="form-control w-100" readonly>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" value="janedoe@gmail.com"
                                class="form-control w-100" readonly>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper readonly">
                                <select class="form-control w-100" disabled>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 seperator"></div>
                        <div class="col-12 p-0 form-field">
                            <label>Please enter the OTP sent on the registered mobile number and Email ID.</label>
                            <input type="text" id="otp" placeholder="Enter OTP" class="form-control w-100"
                                formControlName="otp"
                                [ngClass]="{ 'is-invalid': kycForm3Controls.otp.touched && kycForm3Controls.pan.errors }">
                        </div>
                        <div class="col-12 p-0 m-0 mt-2 note-text">
                            <span>OTP will expire in 8m 50s</span>
                            <button class="btn btn-link">Resend OTP</button>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showTaxStatusForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': kycForm3.invalid}"
                                [disabled]="kycForm3.invalid" (click)="showSubmitOTPForm()">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-value" *ngIf="showSubmitOTP">
                <div class="custom-card-body">
                    <ul class="m-0 mb-5 details-list user readonly">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Mobile No.:</label>
                            <span>9753108462</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Email ID:</label>
                            <span>janedoe@gmail.com</span>
                        </li>
                        <li>
                            <label>Tax Status:</label>
                            <span>Partnership</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>City of Incorporation</label>
                            <input type="text" id="mobilenum" placeholder="Enter City" class="form-control w-100">
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Country of Incorporation</label>
                            <input type="text" id="emailId" placeholder="Enter Country" value="India"
                                class="form-control w-100" value readonly>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link" (click)="showVerifyOTPForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" (click)="showAdditionalForm()">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>