<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <h4 class="m-0 mb-4 common-page-title">Steps to Complete eKYC</h4>
                    <ul class="m-0 p-0 kyc-process-list">
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/upload.svg" alt="Upload Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload PAN & <br /> Proof of Address</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/align-left.svg" alt="Additional eKYC Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Provide Additional <br /> KYC Details</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/fingerprint.svg" alt="FingerPrint Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload PAN & Aadhaar of <br /> Director/Authorised Sigatories</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/dollar-sign.svg" alt="Dollar Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Upload BR/ASL & Other <br /> Required Documents</p>
                        </li>
                        <li>
                            <div class="img-wrapper">
                                <img src="../../../assets/img/kyc/user-check.svg" alt="User Icon" class="w-100">
                            </div>
                            <p class="m-0 text-center">Complete Video IPV <br /> & eSign KYC Application</p>
                        </li>
                    </ul>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <div class="row m-0 mb-3">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>PAN</label>
                            <input type="text" id="pan" placeholder="Enter PAN" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Date of Incorporation</label>
                            <input type="text" id="date-of-incorporation" placeholder="Select date" class="form-control w-100 date">
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <ul class="m-0 mb-5 details-list user">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            
                            <div class="select-wrapper">
                                <select class="form-control w-100">
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Generate OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <ul class="m-0 mb-5 details-list user readonly">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" value="9042216985" class="form-control w-100" readonly>
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" value="janedoe@gmail.com" class="form-control w-100" readonly>
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Status</label>
                            <div class="select-wrapper readonly">
                                <select class="form-control w-100" readonly>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 seperator"></div>
                        <div class="col-sm-6 col-md-8 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Please enter the OTP sent on the registered mobile number and Email ID.</label>
                            <input type="text" id="otp" placeholder="Enter OTP" class="form-control w-100">
                        </div>
                        <div class="col-12 p-0 m-0 mt-2 note-text">
                            <span>OTP will expire in 8m 50s</span>
                            <button class="btn btn-link">Resend OTP</button>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <ul class="m-0 mb-5 details-list user readonly">
                        <li>
                            <label>PAN:</label>
                            <span>ENQC77693A</span>
                        </li>
                        <li>
                            <label>Mobile No.:</label>
                            <span>9753108462</span>
                        </li>
                        <li>
                            <label>Date of Incorporation:</label>
                            <span>26-Jan-1999</span>
                        </li>
                        <li>
                            <label>Name:</label>
                            <span>Aditya Birla Sun Life AMC Ltd</span>
                        </li>
                        <li>
                            <label>Email ID:</label>
                            <span>janedoe@gmail.com</span>
                        </li>
                        <li>
                            <label>Tax Status:</label>
                            <span>Partnership</span>
                        </li>
                    </ul>
                    <div class="row m-0 mb-3">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Mobile Number</label>
                            <input type="text" id="mobilenum" placeholder="Enter Mobile Number" value="9042216985" class="form-control w-100" readonly>
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Email ID</label>
                            <input type="text" id="emailId" placeholder="Enter Email ID" value="janedoe@gmail.com" class="form-control w-100" readonly>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Submit OTP</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  <div class="card-div">
        <div class="row">
            <div class="col-md-12">
                <div class="card-pannel">
                    <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; KYC Form</p>
                </div>

                <div class="card-value">
                    <div class="max-width-800-div">
                        <div class="row">

                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="value-b-div">
                                    <label>Current Value</label>
                                    <p>₹ 20,000.00</p>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="value-b-div">
                                    <label>Total Investement</label>
                                    <p class="value-secondary">₹ 18,000.00</p>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="value-b-div">
                                    <label>Profit/loss</label>
                                    <p class="value-profit">₹ 2,000.00</p>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <div class="value-b-div">
                                    <label style="display:none">XIRR: 2.53%</label>
                                    <label>Absolute : 11.11%</label>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="tab-content">
                    <ngb-tabset [destroyOnHide]="false" class="card-ribbon">

                        <ngb-tab title="My Holdings">
                            <ng-template ngbTabContent>
                                <app-myholdings></app-myholdings>
                            </ng-template>
                        </ngb-tab>

                        <ngb-tab>
                            <ng-template ngbTabTitle>Asset Allocation</ng-template>
                            <ng-template ngbTabContent>

                                <div role="tabpanel" class="tab-pane asset-allocation-container" id="profile">

                                    <app-assetallocation></app-assetallocation>



                                </div>
                            </ng-template>
                        </ngb-tab>


                    </ngb-tabset>
                </div>
            </div>



        </div>
    </div>
    <br><br><br> -->