    <!-- Content Placeholder Starts Here -->
    <div class="content-wrapper">
        <div class="row">
  
  
         
          <div class="col-md-12">
           <h1 class="page-heading">Link / Delink Folios</h1>
          </div>
          <div class="col-md-12">
            <div class="card-div shadow">
              <div class="row">
                <div class="col-md-12 trans">
<!--                   
                  <div class="card-ribbon">
                    <ul class="nav nav-tabs h-scroll" role="tablist">
                      <li role="presentation" class="active"><a href="#link" aria-controls="link" onclick="clicksss()" role="tab" data-toggle="tab">Linked Folios (4)</a></li>
                      <li role="presentation" ><a href="#delink" aria-controls="delink" role="tab" data-toggle="tab" onclick="clickss()">Folios available to link (3)</a></li>
                    </ul>
                  </div> -->
               
                 <!-- Nav tabs -->
     
    
                  <!-- Tab panes -->
                  <div class="div-outer pad-0">
                  <div class="tab-content"> 
  
                    <ngb-tabset [destroyOnHide]="false" class="card-ribbon">

                        <ngb-tab title="Linked Folios (4)">
                          <ng-template ngbTabContent>
                    <!-- Tab content 1 Starts Here -->
                    <div role="tabpanel" class="tab-pane active" id="link">
                    
                      <div class="l-card-inner">
                          <!-- Card Starts Here -->
                          <div class="l-card">
                            <div class="l-card-head">
                              <div class="row">
                                <div class="col-md-8">
                                 <ul class="folio-details-list">
                                   <li> <P> FOLIO<label> &nbsp 1017099087 </label> | Single</P></li>
                                   
                                 </ul>
                                </div>
                                <div class="col-md-4 text-right">
                                 <img class="folio-link" src="./assets/icons/de-link.svg">
                                </div>
                              </div>
                            </div>
                 
                            <div class="l-card-body link-folio-div">
  
                              <div class="row">
                                <div class="col-md-4  col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>First Holder</label>
                                        <span class="color-black">Vijayaraagavan Ramac..</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Applicants/Guardian PAN</label>
                                        <span class="color-black">AKBPV1475E</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Second Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Third Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                 
                          </div> <!-- Card Ends Here -->
  
  
                          <!-- Card Starts Here -->
                          <div class="l-card">
                            <div class="l-card-head">
                              <div class="row">
                                <div class="col-md-8">
                                 <ul class="folio-details-list">
                                  <li> <P> FOLIO<label> &nbsp 1017099087 </label> | Single</P></li>
                                 </ul>
                                </div>
                                <div class="col-md-4 text-right">
                                 <img class="folio-link" src="./assets/icons/de-link.svg">
                                </div>
                              </div>
                            </div>
                 
                            <div class="l-card-body link-folio-div">
  
                              <div class="row">
                                <div class="col-md-4  col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>First Holder</label>
                                        <span class="color-black">Vijayaraagavan Ramac..</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Applicants/Guardian PAN</label>
                                        <span class="color-black">AKBPV1475E</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Second Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Third Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                 
                          </div> <!-- Card Ends Here -->
  
  
                          <!-- Card Starts Here -->
                          <div class="l-card">
                            <div class="l-card-head">
                              <div class="row">
                                <div class="col-md-8">
                                 <ul class="folio-details-list">
                                  <li> <P> FOLIO<label> &nbsp 1017099087 </label> | Single</P></li>
                                 </ul>
                                </div>
                                <div class="col-md-4 text-right">
                                 <img class="folio-link" src="./assets/icons/de-link.svg">
                                </div>
                              </div>
                            </div>
                 
                            <div class="l-card-body link-folio-div">
  
                              <div class="row">
                                <div class="col-md-4  col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>First Holder</label>
                                        <span class="color-black">Vijayaraagavan Ramac..</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Applicants/Guardian PAN</label>
                                        <span class="color-black">AKBPV1475E</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Second Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Third Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                 
                          </div> <!-- Card Ends Here -->
  
  
  
                          <!-- Card Starts Here -->
                          <div class="l-card">
                            <div class="l-card-head">
                              <div class="row">
                                <div class="col-md-8">
                                 <ul class="folio-details-list">
                                  <li> <P> FOLIO<label> &nbsp 1017099087 </label> | Single</P></li>
                                 </ul>
                                </div>
                                <div class="col-md-4 text-right">
                                 <img class="folio-link" src="./assets/icons/de-link.svg">
                                </div>
                              </div>
                            </div>
                 
                            <div class="l-card-body link-folio-div">
  
                              <div class="row">
                                <div class="col-md-4  col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>First Holder</label>
                                        <span class="color-black">Vijayaraagavan Ramac..</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Applicants/Guardian PAN</label>
                                        <span class="color-black">AKBPV1475E</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12 folio-brdr">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Second Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
  
                                <div class="col-md-4 col-sm-12">
                                  <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>Third Holder</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
  
                                    <div class="col-md-6 col-sm-6">
                                      <div class="value-div brdr-none">
                                        <label>PAN Number</label>
                                        <span class="color-black">N/A</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                 
                          </div> <!-- Card Ends Here -->
  
  
  
                          
  
  
  
                      </div>
  
  
                    </div><!-- Tab content 1  Ends Here-->
                    </ng-template>
                    </ngb-tab>
                    <ngb-tab title="Folios available to link (3)">
                        <ng-template ngbTabContent>
                    <!-- Tab content 2 Starts Here-->
                    <div role="tabpanel" class="tab-pane asset-allocation-container" id="delink">
                      
                      <div class="l-card-inner">
                        
  
                         <!-- Card Starts Here -->
                         <div class="l-card">
                          <div class="l-card-head">
                            <div class="row">
                              <div class="col-md-8">
                               <ul class="folio-details-list">
                                <li> <P> FOLIO<label> &nbsp 1017099087 </label> | Single</P></li>
                               </ul>
                              </div>
                              <div class="col-md-4 text-right">
                               <img class="folio-link" src="./assets/icons/link-icon.svg" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                              </div>
                            </div>
  
                          </div>
  
  
                          <div class=" link-expand collapse" id="collapseExample">
                            
                            <div class="link-expand-inner">
                              <div class="row">
                                <div class="col-md-12">
                                  <P class="label-normal color-black">Please verify the following contact details to link the folio</P>
                                </div>
                              </div>
                              
                              <div class="row">
                                <div class="col-md-8 col-sm-7">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="value-div brdr-none">
                                        <label>Mobile Number</label>
                                        <span class="color-black">+91XXXXXXX6510</span>
                                      </div>
                                    </div>
    
                                    <div class="col-md-4">
                                      <div class="value-div brdr-none">
                                        <label>Email ID</label>
                                        <span class="color-black">siXXXXXXXXXXXXXXX@gm***.com</span>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-12 button-align">
                                  <div class="visible-xs"><br></div>
                                  <button class="btn btn-default">Cancel</button>
                                  <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Generate OTP</button> &nbsp;&nbsp;&nbsp;
                                  <div class=""><br></div>
                                  
                                </div>
                              </div>
                            </div>
                            
                          </div>
  
               
                          <div class="l-card-body link-folio-div">
  
                            <div class="row">
                              <div class="col-md-4  col-sm-12 folio-brdr">
                                <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>First Holder</label>
                                      <span class="color-black">Vijayaraagavan Ramac..</span>
                                    </div>
                                  </div>
  
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>Applicants/Guardian PAN</label>
                                      <span class="color-black">AKBPV1475E</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                              <div class="col-md-4 col-sm-12 folio-brdr">
                                <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>Second Holder</label>
                                      <span class="color-black">N/A</span>
                                    </div>
                                  </div>
  
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>PAN Number</label>
                                      <span class="color-black">N/A</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
  
                              <div class="col-md-4 col-sm-12">
                                <div class="row">
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>Third Holder</label>
                                      <span class="color-black">N/A</span>
                                    </div>
                                  </div>
  
                                  <div class="col-md-6 col-sm-6">
                                    <div class="value-div brdr-none">
                                      <label>PAN Number</label>
                                      <span class="color-black">N/A</span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
  
                          
               
                        </div> <!-- Card Ends Here -->
  
  
                      </div>
  
                    </div><!-- Tab content 2 Ends Here -->
                </ng-template>
            </ngb-tab>
            </ngb-tabset>
  
                  </div>
                  </div>
    
                </div>
    
    
    
                </div>
              </div>
              <br><br><br>
            </div>
        </div>
  
  
  
  
      </div><!-- Content Placeholder Starts Here -->


      <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content small-modal">
        <div class="modal-header brdr-none">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body text-center">
  
        
  
          <img src="../../assets/icons/otp.svg">
  
          <h4>Link Folio</h4>
          <p>OTP has been sent to your <br>
            KRA registered email ID and mobile number</p>
  
            <div class="otp-txt-bx">
              <input type="text" class="form-control" id="otp" placeholder="*" maxlength = "1"> 
              <input type="text" class="form-control" id="otp" placeholder="*" maxlength = "1">
              <input type="text" class="form-control" id="otp" placeholder="*" maxlength = "1">
              <input type="text" class="form-control" id="otp" placeholder="*" maxlength = "1">
            </div>
  
            <p class="otp-resend">Did not receive OTP ? <br>
              <a href="">RESEND OTP</a></p>
  
              <p>Your OTP will expire in <span class="bold color-black">30</span> Sec..</p>
        </div>
        <div class="modal-footer otp-footer">
          <button type="button" class="btn btn-primary-lrg" data-dismiss="modal">Submit OTP</button>
        </div>
      </div>
      
    </div>
  </div>