<div class="content-wrapper">
  <div class="row">
   

  
    <div class="container">
      <div class="row">
      
      <div class="col-sm-12 mt-4">
      <!-- Nav tabs -->
       <div class="pro-category-div">
      <div class="tab h-scroll-s">
      <ul class="nav nav-pills ">
        <li>
          <a class="active tablinks" id="all-tab" data-toggle="tab" href="#all" >All</a>
        </li>
        <li>
          <a class="tablinks"  id="equity-tab" data-toggle="tab" href="#equity" >Equity</a>
        </li>
        <li>
          <a class="tablinks"  id="debt-tab" data-toggle="tab" href="#debt" >Debt</a>
        </li>
        <li >
          <a  class="tablinks"  id="hybrid-tab" data-toggle="tab" href="#hybrid">Hybrid</a>
        </li>
        <li >
          <a  class="tablinks"  id="others-tab" data-toggle="tab" href="#others">Others</a>
        </li>
        </ul>
        </div>
        </div>
        <div class="row">
          <div class="col-md-12 fund-category">
            <div class="pro-fund-ctgr-a">
              <a class="active-a-tag" href="">ALL</a> <a href="">MOST POPULAR FUNDS</a> <a href="">NEW FUND OFFER</a>
            </div>
            
          </div>
        </div>
        <!-- Tab panes -->
        <div class="tab-content clearfix">
        <div class="tab-pane active" id="all">
          <div class="product-box">
            <app-product-details></app-product-details>

             <div class="row">
               <div class="col-md-12 load-more-div">
                 <button class="btn btn-default-1">Load More Funds</button>
               </div>
             </div>
           </div>
        </div>
        <div class="tab-pane" id="equity">
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron bg-success">
                <h1>Profile</h1>
                <p>This is profile tab.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="debt" >
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron bg-info">
                <h1>Message</h1>
                <p>This is home message.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="hybrid" >
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron bg-warning">
                <h1>Settings</h1>
                <p>This is settings.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="others" >
          <div class="row">
            <div class="col-sm-12">
              <div class="jumbotron ">
                <h1>Settings</h1>
                <p>This is settings.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
      </div>
  </div>
    <div class="row">


     
      <div class="col-md-12">
       <h1 class="page-heading">Lumpsum</h1>
      </div>
      <div class="col-md-12">
        <div class="card-div shadow">
          <div class="row">
            <div class="col-md-12 trans">
              
              <div class="pro-list card-ribbon">
                <div class="row">
                
                  <div class="col-md-5 pro-search">
                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search By Fund Name">
                      <i><img src="./assets/icons/search-icon.svg"></i>
                    </div>
                  </div>
                  <div class="col-md-12 pro-d-height visible-xs">
                                 
                  </div>
                </div>
                
              </div>
           
             <!-- Nav tabs -->
 

              <!-- Tab panes -->
              <div class="div-outer pad-0">
              <div class="tab-content"> 
                <!-- Tab content 1 Starts Here -->
                <div role="tabpanel" class="tab-pane active" id="savings-solutions">

                  <div class="pro-filter-div">
                    <div class="row">
                      <div class="col-md-8">
                        <div class="pro-category-div">
                          <div class="tab h-scroll-s">
                          
                            <!-- <button class="tablinks active" onclick="openCity(event, 'all-schemes')" id="defaultOpen">All</button>
                            <button class="tablinks" onclick="openCity(event, 'equity')">Equiy</button>
                            <button class="tablinks" onclick="openCity(event, 'debt')" id="defaultOpen">Debt</button>
                            <button class="tablinks" onclick="openCity(event, 'hybrid')">Hybrid</button>
                            <button class="tablinks" onclick="openCity(event, 'others')"></button> -->
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="select"><select class="form-control download-select select-hidden" id="sel1">
                          <option>All Sub Category</option>
                          <option>Banking &amp; PSU Debt</option>
                          <option>Corporate Bond</option>
                          <option>Credit Risk</option>
                          <option>Dynamic Bond</option>
                          <option>Low Duration</option>
                          <option>Medium to Long Term</option>
                          <option>Money Market</option>
                        </select><div class="select-styled">All Sub Category</div><ul class="select-options" style="display: none;"><li rel="All Sub Category">All Sub Category</li><li rel="Banking &amp; PSU Debt">Banking &amp; PSU Debt</li><li rel="Corporate Bond">Corporate Bond</li><li rel="Credit Risk">Credit Risk</li><li rel="Dynamic Bond">Dynamic Bond</li><li rel="Low Duration">Low Duration</li><li rel="Medium to Long Term">Medium to Long Term</li><li rel="Money Market">Money Market</li></ul></div>
                      </div>
                    </div>
                 

                 

                    

                

                  
                <div class="tab-content clearfix">
                  <div class="tab-pane active" id="All">
                        <!-- All Schemes Div Starts Here -->
                <div id="all-schemes" class="tabcontent by-scheme-tc" style="display: block;">
                  
                  </div>
                  <div class="tab-pane " id="equity">
                <div id="equity" class="tabcontent by-scheme-tc">
                    <div class="product-box">
                        <div class="col-md-4">
                            <div class="pro-l-box">
                                <div class="pro-l-row-1">
                                  <p>Aditya Birla Sun Life Liquid Fund - 
                                    Instl.</p>
                                    <label>AUM : 419.3500</label>
                                </div>
                                <div class="pro-l-row-2">
                                  <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                      <p>Category</p>
                                      <a href="">FOF</a>
                                    </div>
  
                                    <div class="col-md-6 col-xs-6">
                                      <p>Sub Category</p>
                                      <a href="">FOF</a>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-12 pro-d-height">
                                     
                                    </div>
                                  </div>
  
                                  
                                  <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                      <p>NAV</p>
                                      <label>16.03</label>
                                    </div>
  
                                    <div class="col-md-6 col-xs-6">
                                      <p>Risk</p>
                                      <label>Moderately High</label>
                                    </div>
                                  </div>
  
  
                                  <div class="row">
                                    <div class="col-md-12 pro-d-height">
                                     
                                    </div>
                                  </div>
  
  
                                  <div class="row">
                                    <div class="col-md-12">
                                      <p>Annualised Return (%)</p>
                                      <ul>
                                        <li class="active-li">Since Inception</li>
                                        <li>3 Y</li>
                                        <li>5 Y</li>
                                        <li class="brdr-none"><p>18.71% <i class="large material-icons value-profit">keyboard_arrow_up</i></p></li>
                                      </ul>
                                    </div>
                                  </div>
  
  
                                </div>
                                <div class="pro-l-row-3">
                                  <div class="row">
                                    <div class="col-md-6 col-xs-6">
                                      <button class="btn btn-default-1">Know More</button>
                                    </div>
                                    <div class="col-md-6 col-xs-6">
                                      <button class="btn btn-primary ">Invest Now</button>
                                    </div> 
                                  </div>
                                </div>
                               
                            </div>
                          </div>
                    </div>
                  </div><!-- Equity Div Starts Here -->
               </div>
                <!-- Equity Div Starts Here -->
                <div class="tab-pane " id="debt">
                <div  class="tabcontent by-scheme-tc">
                    <div class="product-box">
                        <app-product-details></app-product-details>
                    </div>
                  </div><!-- Equity Div Starts Here -->
                </div>
                <!-- Equity Div Starts Here -->
                <div class="tab-pane " id="hybrid">
                <div  class="tabcontent by-scheme-tc">
                    <div class="product-box">
                        <app-product-details></app-product-details>
                    </div>
                  </div><!-- Equity Div Starts Here -->
                </div>
                <!-- Equity Div Starts Here -->
                <div class="tab-pane " id="Others">
                <div  class="tabcontent by-scheme-tc">
                    <div class="product-box">
                        <app-product-details></app-product-details>
                    </div>
                  </div><!-- Equity Div Starts Here -->
                </div>
                </div>
                
                



                <!-- Tab content 2 Starts Here-->
                <div role="tabpanel" class="tab-pane asset-allocation-container" id="equity">
                  <h3>Wealth Creation Funds</h3>
                </div><!-- Tab content 2 Ends Here -->



                 <!-- Tab content 3 Starts Here-->
                 <div role="tabpanel" class="tab-pane asset-allocation-container" id="debt">
                  <h3>Tax Solution Funds</h3>
                </div><!-- Tab content 2 Ends Here -->



                 <!-- Tab content 3 Starts Here-->
                 <div role="tabpanel" class="tab-pane asset-allocation-container" id="hybrid">
                  <h3>Income Solution Funds</h3>
                </div><!-- Tab content 2 Ends Here -->

 <!-- Tab content 3 Starts Here-->
 <div role="tabpanel" class="tab-pane asset-allocation-container" id="Others">
  <h3>Income Solution Funds</h3>
</div><!-- Tab content 2 Ends Here -->
              </div><!-- Tab content 1  Ends Here-->
            </div>
              </div>
              </div>

            </div>



            </div>
          </div>
          <br><br><br>
        </div>
    </div>


  </div>