<div class="content-wrapper">
    <div class="row">


     
      <div class="col-md-12">
        <h1 class="page-heading">SWP Transaction</h1>
      </div>
     

      <!-- Folio Card Start Here -->
      <div class="col-md-12">
        <div class="portfolio-card">
          
            <div class="row">
              <div class="col-md-7 col-sm-9">
                <ul class="folio-details-list">
                  <li> <P> FOLIO<label> &nbsp 1017099087</label></P></li>
                  <li><P> HOLDER<label> &nbsp Vijayaragavan Ramachari</label></P></li>
                </ul>
              </div>
              <div class="col-md-5 col-sm-3">
              <div class="value-div border-none">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Change Folio <i class="large material-icons">keyboard_arrow_down</i></button>
               </div>
              </div>
            </div>

            <div class="row collapse" id="collapseExample2">
              <div class="col-md-12">
                <div class="folio-inner-card">
                  <ul class="folio-li">
                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099087</label> <span class="hidden-xs"> | Vijayaragavan Ramachari</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/green-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099345</label> <span class="hidden-xs"> | Ramachari (Anyone Or Survivor)</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li class="brdr-none">
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099123</label> <span class="hidden-xs"> | Devi (Anyone Or Survivor)</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div><!-- Folio Card Start Here -->
      


      <div class="col-md-12">

        <!-- Card Starts Here -->
       <div class="l-card">
         <div class="l-card-head">
           <div class="row">
             <div class="col-md-8">
               <p>Scheme Selection</p>
             </div>
             <div class="col-md-4">
              
             </div>
           </div>
         </div>

         <div class="l-card-body">
          
           <div class="row">
             <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="form-group ">
                <label>Choose a scheme for Redemption*</label> 
                <select>
                  <option>ABSL Frontline Equity Fund</option>
                  <option>Aditya Birla Sun LifeLiquid Fund</option>
                </select> 
                <div class="mrgn-btm-10"></div>
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <span class="chips-span">Direct</span> <span class="chips-span">Growth</span> 
                  </div>
                  
                </div>
               
              </div>
             </div>

             <div class="col-md-7 col-sm-12 col-xs-12">
               <div class="row">
                 <div class="col-md-12 hidden-sm"><br></div>
               </div>
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Available Value</label>
                    <p class="">₹ 84.2735</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Available Units</label>
                    <p class="">129.2210</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Total Value</label>
                    <p class="">₹ 28460.93</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Total Units</label>
                    <p class="">129.2210</p>
                  </div>
                 </div>
              </div>
             </div>

            
           </div>

         </div>
       </div> <!-- Card Ends Here -->
        
      </div>



      <div class="col-md-12">

        <!-- Card Starts Here -->
       <div class="l-card">
         <div class="l-card-head">
           <div class="row">
             <div class="col-md-8">
               <p>SWP Details</p>
             </div>
             <div class="col-md-4">
              
             </div>
           </div>
         </div>

         <div class="l-card-body">

          
          <div class="row">
            <div class="col-md-12">
              <p class="font-size-16">Please note that in case of Fixed Withdrawal, if the installment is more than the amount available in that account for redemption, the entire available amount will be redeemed and the SWP will terminate automatically.</p>
            </div>
           </div>
        
          <div class="row">
            <div class="col-md-12 redemtion-details-div">
              <!-- <div class="tab">
                <button class="tablinks" onclick="openCity(event, 'fixed')" id="defaultOpen">Fixed</button>
                <button class="tablinks" onclick="openCity(event, 'appriciation')">Appriciation</button>
              </div> -->

              
              <ngb-tabset type="pills">
                <ngb-tab title="Fixed">
                  <ng-template ngbTabContent>
              <div id="fixed" class="tabcontent">
                <br>
                 
                 <div class="row">

                  
                  <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                      <label>SWP Amount*</label>
                      <input value="3000" type="text" class="form-control" id="inputPassword" placeholder="Enter SIP Amount">
                      <label>Min SWP amount is Rs.500 /- and in multiples of Re 1.</label>
                    </div>
                  </div>
  

                   <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                      <label>SIP Frequency</label> 
                      <select>
                        <option>Weekly</option>
                        <option>Monthly</option>
                      </select> 
                      
                    </div>
                   </div>
   
                   <div class="col-md-4 col-sm-8">
                     <div class="row">
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>SIP Day*</label> 
                          <select>
                            <option>Friday</option>
                            <option>Monthly</option>
                          </select>
                        </div>
                      </div>
  
                      <div class="col-md-6 col-sm-6">
                        <div class="form-group">
                          <label>SIP Date*</label> 
                          <select>
                            <option>1</option>
                            <option>2</option>
                          </select>
                        </div>
                      </div>
  
                     </div>
                   </div>

  
              </div>

              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="popover-label">Start Date* <span title="" data-toggle="popover" data-placement="top" data-content="Since you have chosen to pay using RegisterforOTM method, your next available date for payment is Dec 6, 2020 onwards." class="material-icons">error_outline</span>
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group">
                        <select>
                          <option>Nov</option>
                          <option>Dec</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group">
                   
                        <select>
                          <option>2020</option>
                          <option>2019</option>
                        </select>
                      </div>
                    </div>
                  </div>
                 </div>

                 <div class="col-md-4 col-sm-6">
                  <div class="row">
                    <div class="col-md-12">
                      <label class="popover-label">End Date* </label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group">
                        <select name="cars" id="cars" disabled>
                          <option>Nov</option>
                          <option>Dec</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                      <div class="form-group">
                        <select name="cars" id="cars" disabled="disabled">
                          <option>2099</option>
                          <option>2019</option>
                        </select>
                      </div>
                    </div>
                  </div>
                 </div>

                 <div class="col-md-4">
                 <div class="row">
                   <div class="col-md-2 or-div">
                     
                     <img src="./assets/icons/or.svg">
                   </div>
                   <div class="col-md-10">
                    <div class="form-group">
                      
                   <div class="untill-cancel m-top-23">
                      <div class="form-group mrgn-0">
                        <input type="checkbox" id="vehicle2" name="vehicle2" value="222"  checked>
                        <label for="vehicle1"> Untill i Cancel</label>
                    </div>
                   </div>
                    </div>
                   </div>
                 </div>
               </div>
              </div>

             
               <br>
               <div class="row">
                <div class="col-md-12">
                 <div class="terms-and-conditions mrgn-btm-12">
                   <div><div class="check-bx-div">
                     <input type="checkbox" id="featured-4" name="featured-cb">
                     <label for="featured-4"></label>
                    </div> &nbsp; &nbsp; &nbsp; &nbsp; 
                    I have read the <a class="link" href="#">Key Information Memorandum </a>,
                     <a class="link" href="#"> Scheme Information Document / Statement of Additional Informati
                         on </a>and  <a class="link" href="#"> Disclaimer </a> for the scheme in which I am 
                         investing.
                    In line with regulation under Prevention of Money Laundering Act, 2002 (PMLA), I/We hereby
                     confirm that the funds for this purchase are being debited from my/our bank account.</div>
                      <br>
                      <p class="mrgn-0">In case you are not KYC compliant, <a class="link" href="">Click here </a>to know more about KYC and download KYC form
                      </p>

                   
                 </div>
                </div>
              </div>


            </div>
            </ng-template>
            </ngb-tab>
            <ngb-tab title="Appriciation">
                <ng-template ngbTabContent>
            <div id="appriciation" class="tabcontent">
              <br>
              <div class="row">
                
                  
                <div class="col-md-4 col-sm-6">
                  <div class="form-group">
                    <label>SWP Amount*</label>
                    <input value="3000" type="text" class="form-control" id="inputPassword" placeholder="Enter SIP Amount">
                    <label>Min SWP amount is Rs.500 /- and in multiples of Re 1.</label>
                  </div>
                </div>


                 <div class="col-md-4 col-sm-4">
                  <div class="form-group">
                    <label>SIP Frequency</label> 
                    <select>
                      
                      <option>Monthly</option>
                      <option>Quarterly</option>
                    </select> 
                    
                  </div>
                 </div>
 
                 <div class="col-md-4 col-sm-8">
                  <div class="form-group">
                    <label>SIP Date*</label> 
                    <select>
                      <option>1</option>
                      <option>2</option>
                    </select>
                  </div>
                 </div>


            </div>

            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="row">
                  <div class="col-md-12">
                    <label class="popover-label">Start Date* <span title="" data-toggle="popover" data-placement="top" data-content="Since you have chosen to pay using RegisterforOTM method, your next available date for payment is Dec 6, 2020 onwards." class="material-icons">error_outline</span>
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <select>
                        <option>Nov</option>
                        <option>Dec</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      
                      <select>
                        <option>2020</option>
                        <option>2019</option>
                      </select>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-md-4 col-sm-6">
                <div class="row">
                  <div class="col-md-12">
                    <label class="popover-label">End Date* </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <select name="cars" id="cars" disabled>
                        <option>Nov</option>
                        <option>Dec</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group">
                      <select name="cars" id="cars" disabled="disabled">
                        <option>2099</option>
                        <option>2019</option>
                      </select>
                    </div>
                  </div>
                </div>
               </div>

               <div class="col-md-4">
               <div class="row">
                 <div class="col-md-2 or-div">
                   
                   <img src="./assets/icons/or.svg">
                 </div>
                 <div class="col-md-10">
                  <div class="form-group">
                    
                 <div class="untill-cancel m-top-23">
                    <div class="form-group mrgn-0">
                      <input type="checkbox" id="vehicle2" name="vehicle2" value="222"  checked>
                      <label for="vehicle1"> Untill i Cancel</label>
                  </div>
                 </div>
                  </div>
                 </div>
               </div>
             </div>
            </div>

           
             <br>
             <div class="row">
              <div class="col-md-12">
               <div class="terms-and-conditions mrgn-btm-12">
                 <p><div class="check-bx-div">
                   <input type="checkbox" id="featured-4" name="featured-cb">
                   <label for="featured-4"></label>
                  </div> &nbsp; &nbsp; &nbsp; &nbsp; I have read the <a class="link" href="#">Key Information Memorandum </a>, <a class="link" href="#"> Scheme Information Document / Statement of Additional Information </a>and  <a class="link" href="#"> Disclaimer </a> for the scheme in which I am investing.
                  In line with regulation under Prevention of Money Laundering Act, 2002 (PMLA), I/We hereby confirm that the funds for this purchase are being debited from my/our bank account.<p>
                    <br>
                    <p class="mrgn-0">In case you are not KYC compliant, <a class="link" href="">Click here </a>to know more about KYC and download KYC form
                    </p>

                 
               </div>
              </div>
            </div>

            </div>
            </ng-template>
            </ngb-tab>
            </ngb-tabset>
          </div>

         </div>


        
       </div> <!-- Card Ends Here -->
        
      </div>




      

     


      <div class="col-md-12">
        <div class="form-button-div">
          <div class="row">
            <div class="col-md-8">
              
            </div>
            <div class="col-md-4 btn-alignment">
             <button class="btn btn-default-lrg">Back</button>
             <button class="btn btn-primary-lrg">Proceed</button>
            </div>
          </div>
        </div>
      </div>



  </div>


  </div><!-- Content Placeholder Starts Here -->


  </div>