<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <h4 class="m-0 custom-card-title">ENTITY DETAILS</h4>
            </div>
            <div class="card-value">
                <div class="custom-card-body" [formGroup]="panForm">
                    <div class="row m-0" [ngClass]="{'mb-3': showProceedKYC}">
                        <div class="col-12 col-sm-6 col-lg-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>PAN*</label>
                            <input type="text" maxlength="10" id="pan" formControlName="pan" autocomplete="off" placeholder="Enter PAN" class="form-control w-100" [ngClass]="{ 'is-invalid': panFormControl.pan.touched && panFormControl.pan.errors }">
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0" *ngIf="showPanForm">
                            <button class="btn btn-link" (click)="showFundForm()">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
                            <button class="btn btn-primary" [ngClass]="{'disabled': panForm.invalid}" [disabled]="panForm.invalid" (click)="proceedKYC()" *ngIf="showPanForm">Verify</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

