<div class="card-divs">
    <div class="row">
      <div class="col-md-8">
        <div class="card-body" style="margin-top: -35px;">
  <h4 style="margin-bottom: 22px;">Portfolio performance</h4>
  
            <!-- <div style="margin-top: -15px;">
                <span style="padding-left: 6px;"><i class="fa fa-circle" style="color:#cdcece"></i> Invested Amount</span>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                <span><i class="fa fa-circle" style="color:#969f6e"></i> Current Value</span>
            </div>					 -->
            <div id="container" ></div>
        </div>
      </div>
      <div class="col-md-4">
        
        <!-- Small Card Starts Here -->
        <div class="perfrmnce-s-card">
          <div class="perfrmnce-s-card-r1">
            <p>DEBT (0.00 )</p>
          </div>
          <div class="perfrmnce-s-card-r2">
            <table>
              <tr>
                <td style="width: 55%;">
                  <label class="">Invested Amount</label>
                </td>
                <td style="width: 45%;">
                  <label class="flot-right">₹ 0.59</label>
                </td>
              </tr>
              <tr>
                <td style="width: 55%;">
                  <label class="green-txt">Current Value</label>
                </td>
                <td style="width: 45%;">
                  <label class="flot-right green-txt">₹ 0.59</label>
                </td>
              </tr>
            </table>
          </div>
        </div><!-- Small Card Starts Here -->


         <!-- Small Card Starts Here -->
         <div class="perfrmnce-s-card">
          <div class="perfrmnce-s-card-r1">
            <p>EQUITY (100.00 %)</p>
          </div>
          <div class="perfrmnce-s-card-r2">
            <table>
              <tr>
                <td style="width: 55%;">
                  <label class="">Invested Amount</label>
                </td>
                <td style="width: 45%;">
                  <label class="flot-right">₹ 57,118.74</label>
                </td>
              </tr>
              <tr>
                <td style="width: 60%;">
                  <label class="green-txt">Current Value</label>
                </td>
                <td style="width: 40%;">
                  <label class="flot-right green-txt">₹ 60,377.55</label>
                </td>
              </tr>
            </table>
          </div>
        </div><!-- Small Card Starts Here -->



         <!-- Small Card Starts Here -->
         <div class="perfrmnce-s-card">
          <div class="perfrmnce-s-card-r1">
            <p>HYBRID (0.00 %)</p>
          </div>
          <div class="perfrmnce-s-card-r2">
            <table>
              <tr>
                <td style="width: 55%;">
                  <label class="">Invested Amount</label>
                </td>
                <td style="width: 45%;">
                  <label class="flot-right">₹ 0.00</label>
                </td>
              </tr>
              <tr>
                <td style="width: 60%;">
                  <label class="green-txt">Current Value</label>
                </td>
                <td style="width: 40%;">
                  <label class="flot-right green-txt">₹ 0.00</label>
                </td>
              </tr>
            </table>
          </div>
        </div><!-- Small Card Starts Here -->



          <!-- Small Card Starts Here -->
          <div class="perfrmnce-s-card mrgn-0">
            <div class="perfrmnce-s-card-r1">
              <p>OTHERS (0.00 %)</p>
            </div>
            <div class="perfrmnce-s-card-r2">
              <table>
                <tr>
                  <td style="width: 55%;">
                    <label class="">Invested Amount</label>
                  </td>
                  <td style="width: 45%;">
                    <label class="flot-right">₹ 0.00</label>
                  </td>
                </tr>
                <tr>
                  <td style="width: 60%;">
                    <label class="green-txt">Current Value</label>
                  </td>
                  <td style="width: 40%;">
                    <label class="flot-right green-txt">₹ 0.00</label>
                  </td>
                </tr>
              </table>
            </div>
          </div><!-- Small Card Starts Here -->
      </div>
    </div>
  </div>