<div class="w-100 edit" *ngIf="summary">
    <ul class="m-0 mb-3 details-list user green-white readonly">
        <li class="pan">
            <label>PAN:</label>
            <span>ENQC77693A</span>
        </li>
        <li>
            <label>Date of Incorporation:</label>
            <span>26-Jan-1999</span>
        </li>
        <li>
            <label>Name:</label>
            <span>Aditya Birla Sun Life AMC Ltd</span>
        </li>
    </ul>
    <div class="p-0 my-4 checkbox-content bank-name">
        <label class="m-0">
            <b>Please confirm your enetered details before proceeding:</b>
        </label>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep1Form')">1. Additional kyc details
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 p-0 form-field list-company">
                                <label class="m-0">Is the entity a listed company? / Subsidiary of listed company? /
                                    Controlled by a listed company?</label>
                                <p class="field-value">Yes</p>
                            </div>
                            <div class="col-12 p-0 form-field">
                                <label>PEP: Politically Exposed Person</label>
                                <p class="field-value">I am a politically exposed person</p>
                            </div>
                            <div class="col-12 p-0 form-field">
                                <label>Net Worth (as on 24-Sept-2021)</label>
                                <p class="field-value">10,000,000 INR </p>
                            </div>
                            <div class="col-12 p-0 form-field">
                                <label>Is the investor involved providing any of the mentioned services?</label>

                                <ul class="value-list">
                                    <li>Foreign exchange</li>
                                    <li>Money Lending</li>
                                    <li>Money Lending</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep2Form')">2. FATCA AND CRS DETAILS
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 p-0 form-field list-company">
                                <label class="m-0">Is the entity a tax resident of any country other than India?</label>
                                <p class="field-value">Yes</p>
                            </div>
                            <div class="col-12 p-0 seperator sm"></div>
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <h6>First Country</h6>
                                <div class="w-100">
                                    <label>Country of Tax Residency</label>
                                    <p class="field-value">United States of America</p>
                                </div>
                                <div class="w-100">
                                    <label>Tax Identification Number</label>
                                    <p class="field-value">911BO01PR</p>
                                </div>
                                <div class="w-100">
                                    <label>Identification type</label>
                                    <p class="field-value">Type A</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <h6>Second Country</h6>
                                <div class="w-100">
                                    <label>Country of Tax Residency</label>
                                    <p class="field-value">United States of America</p>
                                </div>
                                <div class="w-100">
                                    <label>Tax Identification Number</label>
                                    <p class="field-value">911BO01PR</p>
                                </div>
                                <div class="w-100">
                                    <label>Identification type</label>
                                    <p class="field-value">Type A</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep3Form')">3. PART A
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 p-0 form-field list-company inline">
                                <label class="m-0">Entity Type</label>
                                <p class="field-value">Financial Institution</p>
                            </div>
                            <div class="col-12 p-0 seperator sm"></div>
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <h6>GIIN (Global Intermediary Identification Number)</h6>
                                <div class="w-100">
                                    <label>Sponsor’ Name</label>
                                    <p class="field-value">Aditya Birla Capital</p>
                                </div>
                                <div class="w-100">
                                    <label>Sponsor’ GIIN</label>
                                    <p class="field-value">124589566712</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep4Form')">4. PART B
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <h6>Entity is a related entity of a Public Traded Company</h6>
                                <div class="w-100">
                                    <label>Name of the listed company</label>
                                    <p class="field-value">Aditya Birla Capital</p>
                                </div>
                                <div class="w-100">
                                    <label>Name of Stock Exchange</label>
                                    <p class="field-value">Bombay Stock Exchange (BSE)</p>
                                </div>
                                <div class="w-100">
                                    <label>Nature of relation</label>
                                    <p class="field-value">Subsidiary of listed company</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep5Form')">5. Ultimate Beneficiary Owner (UBO)
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <h6>First UBO Details</h6>
                                <div class="w-100">
                                    <label>Category</label>
                                    <p class="field-value">Unlisted Company</p>
                                </div>
                                <div class="w-100">
                                    <label>Name of UBO</label>
                                    <p class="field-value">Aditya Birla Capital</p>
                                </div>
                                <div class="w-100">
                                    <label>Tax ID Number</label>
                                    <p class="field-value">100NM91PM</p>
                                </div>
                                <div class="w-100">
                                    <label>Tax ID Type</label>
                                    <p class="field-value">Type A</p>
                                </div>
                                <div class="w-100">
                                    <label>Type Number</label>
                                    <p class="field-value">01</p>
                                </div>
                                <div class="w-100">
                                    <label>Address Type</label>
                                    <p class="field-value">Residential</p>
                                </div>
                                <div class="w-100">
                                    <label>Country</label>
                                    <p class="field-value">India</p>
                                </div>
                                <div class="w-100">
                                    <label>State</label>
                                    <p class="field-value">Maharashtra</p>
                                </div>
                                <div class="w-100">
                                    <label>Address</label>
                                    <p class="field-value">ABC Park, City Business Area <br />,
                                        Pune 411000</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep6Form')">6. Bank Details
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 p-0 form-field list-company inline">
                                <label class="m-0">Bank account holder name</label>
                                <p class="field-value">Aditya Birla Sun Life AMC Ltd</p>
                            </div>
                            <div class="col-12 p-0 seperator sm"></div>
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <div class="w-100">
                                    <label>IFSC</label>
                                    <p class="field-value">UTBI0000207</p>
                                </div>
                                <div class="w-100">
                                    <label>Bank Name</label>
                                    <p class="field-value">Axis Bank</p>
                                </div>
                                <div class="w-100">
                                    <label>Branch name</label>
                                    <p class="field-value">Janakpuri (New Delhi)</p>
                                </div>
                                <div class="w-100">
                                    <label>Branch Address</label>
                                    <p class="field-value">C-3/21, Janakpuri</p>
                                </div>
                                <div class="w-100">
                                    <label>City</label>
                                    <p class="field-value">Delhi</p>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 p-0 pr-3 form-field split">
                                <div class="w-100">
                                    <label>Account Number</label>
                                    <p class="field-value">xxxxxxxxxxxxxx</p>
                                </div>
                                <div class="w-100">
                                    <label>Account Type</label>
                                    <p class="field-value">Current Account</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title" (click)="navigateSummary('showStep7Form')">7. Upload documents
                        <span>Edit</span>
                    </h4>
                </div>

                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0">
                            <div class="col-12 col-md-8 p-0 pr-3 form-field split docs">
                                <div class="w-100">
                                    <label>Board Resolution</label>
                                    <p class="field-value">address/docs-br.jpeg</p>
                                    <div class="preview">
                                        <span>Preview</span>
                                        <img src="../../../assets/img/common/eye.svg" alt="Preview Icon">
                                    </div>
                                </div>
                                <div class="w-100 seperator sm"></div>
                                <div class="w-100">
                                    <label>Memorandum & Article of Association</label>
                                    <p class="field-value">address/docs-br.jpeg</p>
                                    <div class="preview">
                                        <span>Preview</span>
                                        <img src="../../../assets/img/common/eye.svg" alt="Preview Icon">
                                    </div>
                                </div>
                                <div class="w-100 seperator sm"></div>
                                <div class="w-100">
                                    <label>List of Authorised Signatories</label>
                                    <p class="field-value">address/docs-br.jpeg</p>
                                    <div class="preview">
                                        <span>Preview</span>
                                        <img src="../../../assets/img/common/eye.svg" alt="Preview Icon">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-div custom-card-div mb-5">
        <div class="row m-0">
            <div class="col-md-12 p-0 acknowledge-block">
                <div class="card-pannel">
                    <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                    <h4 class="m-0 custom-card-title">I / We read and acknowledged</h4>
                </div>
                <div class="card-value">
                    <div class="custom-card-body">
                        <div class="row m-0 mb-4" [formGroup]="summaryForm">
                            <div class="col-12 p-0 form-field">
                                <!-- <label>I / We read and acknowledged</label> -->

                                <div class="checkbox-wrapper terms">
                                    <div class="checkbox-item">
                                        <input type="checkbox" name="factaAndCrsDeclaration"
                                            formControlName="factaAndCrsDeclaration">
                                        <span class="custom-checkbox"></span>
                                        <div class="checkbox-content">
                                            <label><b>FATCA and CRS Declaration</b></label>
                                            <h6>DECLARATION</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna
                                                erat,
                                                eleifend a hendrerit vitae, vehicula nec dui. Vivamus egestas molestie
                                                tellus, pretium mauris rutre at malesuada... <a
                                                    href="javascript:void(0)">Read more</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 seperator sm"></div>
                            <div class="col-12 p-0 form-field">
                                <div class="checkbox-wrapper terms">
                                    <div class="checkbox-item">
                                        <input type="checkbox" name="termsAndConditions"
                                            formControlName="termsAndConditions">
                                        <span class="custom-checkbox"></span>
                                        <div class="checkbox-content">
                                            <label><b>Terms and Conditions</b></label>
                                            <h6>1.AGREEMENT</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer magna
                                                erat,
                                                eleifend a hendrerit vitae, vehicula nec dui. Vivamus egestas molestie
                                                tellus, pretium mauris rutre at malesuada... <a
                                                    href="javascript:void(0)">Read more</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 p-0 seperator sm"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mx-0 custom-btn-block">
        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
            <button class="btn btn-primary" [ngClass]="{'disabled': summaryForm.invalid}"
            [disabled]="summaryForm.invalid" (click)="showSuccessMessage()">Proceed</button>
        </div>
    </div>
</div>

<div class="card-div custom-card-div mb-5" *ngIf="successMessage">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">KYC & Folio creation request submitted successfully!</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <div class="row m-0 mb-4">
                        <div class="col-12 p-0 form-field bank-name summary-text">
                            <label class="mb-2 sm">Thank You for choosing Aditya Birla Sun Life Mutual Funds as your
                                Investment Partner.</label>

                            <label class="mb-2 sm">Your request for online KYC and folio creation has been submitted
                                successfully and the same is under verification.
                                <br /> Your KYC reference number is : Exxxxxxxxxxxxxxxx</label>

                            <label class="sm">Please note that Folio creation is subject to your KYC request being processed.</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 custom-btn-block proceed-bbtn" *ngIf="successMessage">
    <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-center text-sm-right">
        <button class="btn btn-primary">Proceed to Invest</button>
    </div>
</div>