<div class="card-divs pad-0">
    <div class="card-pannel">
      <p class="font-weight500"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp;  Portfolio as of 20 Jan 2020</p>
      <!-- <a href="#"><i><img src="/assets/icons/go-arrow.svg" /></i></a> -->
    </div>
    <div class="card-body summary-bg">
      <div class="row hidden-xs">
        <div class="col-md-12">
          <br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 ">
          <label>Current Value</label>
          <h3><span class="color-cdcece">₹</span> 20,000.00</h3>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-4 col-xs-4">
          <div class="summary-value">
            <label>1 Day Change</label>
            <h4 class="profit-txt"><span>₹</span> 500.00</h4>
          </div>
        </div>
        <div class="col-md-4 col-xs-4">
          <div>
            <ul class="tabs-v">
              <li class="tab-link current" data-tab="tab-1">Absolute</li> /
              <li class="tab-link" data-tab="tab-2">XIRR</li>
            </ul>
            <div id="tab-1" class="tab-content-v current">
              <p>2.53%</p>
            </div>
            <div id="tab-2" class="tab-content-v">
               <p>3.26%</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xs-4">
          <div class="summary-value">
            <label>Profit/Loss</label>
            <h4 class="profit-txt"><span>₹</span> 500.00</h4>
          </div>
        </div>
      </div>

      <div class="row .hidden-xs">
        <div class="col-md-12">
          <br>
        </div>
      </div>

    </div>
    <div class="card-footer">
      
      <div class="card-footer-inner">
        <div class="row">
          <div class="col-md-7">
            <select class="form-control download-select" id="sel1">
              <option value="hide">Download Statements</option>
              <option>Account Statement</option>
              <option>Capital Gain Statement</option>
              <option>Taxt Certificate</option>
            </select>
          </div>
          <div class="col-md-5">
            <select class="form-control select-bg" id="#">
              <option value="hide">Transact More</option>
              <option>Purchase More</option>
              <option>Start SIP</option>
              <option>Switch</option>
              <option>Start STP</option>
              <option>Start SWP</option>
              <option>Redeem</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>