






    <!-- Content Placeholder Starts Here -->
    <div class="content-wrapper">
        <div class="row">
          <div class="col-md-12">
           <h1 class="page-heading">SME</h1>
          </div>
          <div class="col-md-12">
            <app-pan-form></app-pan-form>
          </div>
          <div class="col-md-12">
            <app-kyc-form></app-kyc-form>
          </div>
          
        </div>
  
  
  
  
      </div><!-- Content Placeholder Starts Here -->
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
    