<div style="padding-bottom: 3px;" class="white-card">
    <div class="row">
      <div class="col-md-10 col-xs-7">
        <h2>Top Trending Funds</h2>
      </div>
      <div class="col-md-2 col-xs-5">
        <div class="btns1">

          <ul class="ul-nav-icons">
            <li class="swiper-button-next"></li>
            <li class="swiper-button-prev"></li>
            <!-- <li class="customPreviousBtn1"><img src="./assets/icons/previous-arrow.svg"/></li>
            <li class="customNextBtn1"><img src="./assets/icons/next-arrow.svg"/></li> -->
          </ul>
         
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <!-- NFO Fund Div Starts Here -->
        <div class="ltst-trans-div brdr-none">
          <div class="top-funds-slider owl-carousel owl-theme">  
            <swiper [config]="config">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">               
            <div class="item">
              <div class="inner-div">
                <div class="row">
                  <div class="col-md-12">
                    <div class="nfo-div-fund pad-20">
                      <h3>Aditya Birla Sun Life India GenNext Fund 
                        Growth-Regular Plan</h3>
                        <p>Fund Manager: Mr. Maneesh Dangi</p>
                    </div>    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 annual-div">
                    <table>
                      <tr>
                        <td>
                          <img src="./assets/icons/percentage-circle.svg">
                        </td>
                        <td>
                          <p>Annualised <br>
                            Returns</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="annual-div-returns">
                      <div class="annual-div-returns-inner">
                        <div class="row">
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>1 Year</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>3 Year</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>5 Year</label>
                              <p>8.56<i class="large material-icons value-negative">keyboard_arrow_down</i></p> 
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div border-none">
                              <label>Since Inceptions</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="AUM-Nav-Div">
                      <div class="row">
                        <div class="col-md-5">
                          <p>AUM in (Crores) <label style="color: #3E593C; font-weight: 600;">₹ 20,205.38</label></p>
                        </div>
                        <div class="col-md-5">
                          <p>NAV<label style="color: #3E593C; font-weight: 600;">₹ 20,205.38</label></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-dv">
                      <button class="btn">Quick Click SIP</button><button class="btn">Invest Now</button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
        </div>   
        <div class="swiper-slide">
            <div class="item">
              <div class="inner-div">
                <div class="row">
                  <div class="col-md-12">
                    <div class="nfo-div-fund pad-20">
                      <h3>Aditya Birla Sun Life India GenNext Fund 
                        Growth-Regular Plan</h3>
                        <p>Fund Manager: Mr. Maneesh Dangi</p>
                    </div>    
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 annual-div">
                    <table>
                      <tr>
                        <td>
                          <img src="./assets/icons/percentage-circle.svg">
                        </td>
                        <td>
                          <p>Annualised <br>
                            Returns</p>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="annual-div-returns">
                      <div class="annual-div-returns-inner">
                        <div class="row">
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>1 Year</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>3 Year</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div">
                              <label>5 Year</label>
                              <p>8.56<i class="large material-icons value-negative">keyboard_arrow_down</i></p> 
                            </div>
                          </div>
                          <div class="col-md-3 col-xs-6">
                            <div class="value-div border-none">
                              <label>Since Inceptions</label>
                              <p>8.56<i class="large material-icons value-profit">keyboard_arrow_up</i></p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="AUM-Nav-Div">
                      <div class="row">
                        <div class="col-md-5">
                          <p>AUM in (Crores) <label style="color: #3E593C; font-weight: 600;">₹ 20,205.38</label></p>
                        </div>
                        <div class="col-md-5">
                          <p>NAV<label style="color: #3E593C; font-weight: 600;">₹ 20,205.38</label></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="btn-dv">
                      <button class="btn">Quick Click SIP</button><button class="btn">Invest Now</button>
                    </div>
                   
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    
<!-- Add Arrows -->


</swiper>
</div>

<!-- Add Pagination -->




          
        </div><!-- NFO Fund Div Ends Here -->
      </div>
    </div>
  </div>