.bank-name label {
    /* font-family: PF Handbook Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #3E593C;
}

.bank-name label b {
    padding-right: 15px;
    color: #000;
    opacity: 0.85;
}

.or-seperator.side h6 {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.validate .or-seperator h6 {
    align-items: center;
}
.bank-name label.sm {
    font-size: 15px;
}
.bank-name .sm img {
    max-width: 26px;
    margin-right: 16px;
    margin-top: -5px;
}
.upload-list ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.upload-list ul li {
    list-style: none;
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: 15px;
}

.upload-wrapper {
    background-color: #F2F3F6;
    border-radius: 4px;
    height: 100px;
    padding: 20px 75px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 65%;
}

.upload-wrapper span {
    /* font-family: PF Handbook Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #000000;
}

.upload-wrapper:before {
    content: "";
    position: absolute;
    top: 50%;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    transform: translate(0, -50%);
}

.upload-wrapper:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 36px;
    width: 18px;
    height: 18px;
    background: url(../../../assets/img/common/upload.svg) no-repeat;
    background-size: 18px;
    transform: translate(0, -50%);
}

.with-doc .upload-wrapper span {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    color: #6C7174;
}
.with-doc .upload-wrapper:before {
    background-color: #6A7C55;
}
.with-doc .upload-wrapper:after {
    background: url(../../../assets/img/common/white-tick.svg) no-repeat;
    background-size: 18px;
    background-position: center;
}
.with-doc .upload-wrapper > * {
    flex: 1 0 100%;
    max-width: 100%;
}
.with-doc .upload-wrapper p {
    /* font-family: PF Handbook Pro; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.018em;
    color: #000000;
}

@media only screen and (max-width: 991px) {
    .list-company.max .radio-wrapper {
        max-width: 100%;
        margin-top: 15px;
    }
}