<ul class="m-0 mb-3 details-list user readonly bg-green">
    <li>
        <label>PAN:</label>
        <span>ENQC77693A</span>
    </li>
    <li>
        <label>Mobile No.:</label>
        <span>9753108462</span>
    </li>
    <li>
        <label>Name:</label>
        <span>Aditya Birla Sun Life AMC Ltd</span>
    </li>
    <li>
        <label>Date of Incorporation:</label>
        <span>26-Jan-1999</span>
    </li>
</ul>
<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">Step 1/7: Additional kyc details</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <div class="row m-0 mb-4 pb-2">
                        <div class="col-12 p-0 form-field list-company">
                            <label class="m-0">Is the entity a listed company? / Subsidiary of listed company? / Controlled by a listed company? <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            
                            <div class="radio-wrapper">
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="" checked>
                                    <span class="custom-radio"></span>
                                    <label>Yes</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Now</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-0 mb-4">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Net worth</label>
                            <input type="text" id="net_worth" placeholder="Enter Amount" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Net worth date (as on date)</label>
                            <input type="text" id="net_worth" placeholder="Enter Amount" class="form-control w-100 date">
                        </div>
                    </div>
                    <div class="row m-0 mb-4">
                        <div class="col-sm-12 col-md-8 col-lg-6 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>PEP: Politically Exposed Person <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            
                            <div class="select-wrapper">
                                <select class="form-control w-100">
                                    <option value="">I am a politically exposed person</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row m-0">
                        <div class="col-12 p-0 form-field">
                            <label>Is the investor involved providing any of the mentioned services?</label>
                            
                            <div class="checkbox-wrapper">
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item disabled">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                                <div class="checkbox-item">
                                    <input type="checkbox" name="" id="">
                                    <span class="custom-checkbox"></span>
                                    <label>Foreign Exchange</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">STEP 2/7: FATCA AND CRS DETAILS</h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <div class="row m-0">
                        <div class="col-12 p-0 form-field list-company">
                            <label class="m-0">Is the entity a tax resident of any country other than India? <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            
                            <div class="radio-wrapper">
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="" checked>
                                    <span class="custom-radio"></span>
                                    <label>Yes</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Now</label>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-12 seperator"></div>
                    </div>                    
                    <h4 class="m-0 mb-3 common-page-title">First Country</h4>
                    <div class="row m-0 mb-4">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Country of Tax Residency</label>
                            <div class="select-wrapper">
                                <select class="form-control w-100">
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Identification Number <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            <input type="text" id="tax_id_no" placeholder="Enter ID Number" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Identification type <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            <input type="text" id="net_worth" placeholder="Enter identification type" class="form-control w-100">
                        </div>
                    </div>
                    <div class="row mx-0 seperator"></div>
                    <h4 class="m-0 mb-3 common-page-title">Second Country<img src="../../../assets/img/common/delete.svg" alt="Delete Icon"></h4>
                    <div class="row m-0 mb-4">
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Country of Tax Residency</label>
                            <div class="select-wrapper">
                                <select class="form-control w-100">
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                    <option value="">Partnership</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Tax Identification Number <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            <input type="text" id="tax_id_no" placeholder="Enter ID Number" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Identification type <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            <input type="text" id="net_worth" placeholder="Enter identification type" class="form-control w-100">
                        </div>
                        <div class="col-12 p-0 mt-3">                            
                            <button class="btn btn-primary grey">+ Another Country</button>
                        </div>
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-div custom-card-div mb-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-pannel">
                <!-- <p class="font-weight600"> <i><img src="assets/icons/portfolio-icon.svg"></i> &nbsp; Pan Form</p> -->
                <h4 class="m-0 custom-card-title">STEP 3/7: PART A </h4>
            </div>

            <div class="card-value">
                <div class="custom-card-body">
                    <div class="row m-0">
                        <div class="col-12 p-0 form-field list-company max">
                            <label class="m-0">Entity type <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            
                            <div class="radio-wrapper">
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="" checked>
                                    <span class="custom-radio"></span>
                                    <label>Financial Institution</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Direct Reporting NFE</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Not Applicable</label>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-12 seperator"></div>
                    </div>
                    <div class="row m-0">
                        <div class="col-md-8 col-lg-6 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>GIIN (Global Intermediary Identification Number)</label>
                            <input type="text" id="net_worth" placeholder="Enter GIIN" class="form-control w-100">
                        </div>
                    </div>
                    <div class="row m-0 or-seperator">
                        <div class="col-md-8 col-lg-6 p-0 pr-sm-3 pr-lg-4 form-field">
                            <h6 class="m-0 text-center">OR</h6>
                        </div>
                    </div>
                    <div class="row m-0 mb-4">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Sponsor’s Name</label>
                            <input type="text" id="net_worth" placeholder="Enter Sponsor’s Name" class="form-control w-100">
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 pr-sm-3 pr-lg-4 form-field">
                            <label>Sponsor’s GIIN</label>
                            <input type="text" id="net_worth" placeholder="Enter Sponsor’s GIIN" class="form-control w-100">
                        </div>
                    </div>
                    <div class="row m-0 or-seperator">
                        <div class="col-md-8 col-lg-6 p-0 pr-sm-3 pr-lg-4 form-field">
                            <h6 class="m-0 text-center">OR</h6>
                        </div>
                    </div>
                    <div class="row m-0 mb-4">
                        <div class="col-12 p-0 form-field">
                            <label>GIIN Not Applicable:</label>
                            <div class="radio-wrapper">
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="" checked>
                                    <span class="custom-radio"></span>
                                    <label>Applied For</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Not required to apply for</label>
                                </div>
                                <div class="radio-item">
                                    <input type="radio" name="listed_company" id="">
                                    <span class="custom-radio"></span>
                                    <label>Not Obtained</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mx-0 seperator"></div>
                    <div class="row m-0">
                        <div class="col-12 p-0 form-field list-company max">
                            <label class="m-0">Please specify the two-digits sub-category <img src="../../../assets/img/additional/info.svg" alt="Info Icon"></label>
                            
                            <div class="ml-4 input-wrapper">
                                <div class="input-item">
                                    <input type="text" name="" id="" class="form-control w-100">
                                </div>
                                <div class="input-item">
                                    <input type="text" name="" id="" class="form-control w-100">
                                </div>
                            </div>
                        </div>                        
                    </div>
                    <div class="row mx-0 custom-btn-block">
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0">
                            <button class="btn btn-link">Go Back</button>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-3 p-0 ml-auto text-right">
                            <button class="btn btn-primary disabled">Next</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>