<div class="content-wrapper">
    <div class="row">


     
      <div class="col-md-12">

        <div class="row">
          <div class="col-md-6 col-sm-6">
            <h1 class="page-heading">Switch Transaction</h1>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs">
            <p class="helptext">All fields marked with * are mandatory <br>
              Need help? Call 1-800-270-7000</p>
          </div>
        </div>

      </div>
     

      <!-- Folio Card Start Here -->
      <div class="col-md-12">
        <div class="portfolio-card">
          
            <div class="row">
              <div class="col-md-7 col-sm-9">
                <ul class="folio-details-list">
                  <li> <P> FOLIO<label> &nbsp 1017099087</label></P></li>
                  <li><P> HOLDER<label> &nbsp Vijayaragavan Ramachari</label></P></li>
                </ul>
              </div>
              <div class="col-md-5 col-sm-3">
              <div class="value-div border-none">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Change Folio <i class="large material-icons">keyboard_arrow_down</i></button>
               </div>
              </div>
            </div>

            <div class="row collapse" id="collapseExample2">
              <div class="col-md-12">
                <div class="folio-inner-card">
                  <ul class="folio-li">
                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099087</label> <span class="hidden-xs"> | Vijayaragavan Ramachari</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/green-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099345</label> <span class="hidden-xs"> | Ramachari (Anyone Or Survivor)</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li class="brdr-none">
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099123</label> <span class="hidden-xs"> | Devi (Anyone Or Survivor)</span></P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div><!-- Folio Card Start Here -->
      
    



       




      
      <!-- Trsanfer From Card Starts Here-->
      <div class="col-md-12">

        <!-- Card Starts Here -->
       <div class="l-card">
         <div class="l-card-head">
           <div class="row">
             <div class="col-md-8">
               <p>Switch From</p>
             </div>
             <div class="col-md-4">
              
             </div>
           </div>
         </div>

         <div class="l-card-body">
          
           <div class="row">
             <div class="col-md-5 col-sm-12 col-xs-12">
              <div class="form-group ">
                <label>Choose a scheme for Switch*</label> 
                <select>
                  <option>ABSL Frontline Equity Fund</option>
                  <option>Aditya Birla Sun LifeLiquid</option>
                </select> 
                <div class="mrgn-btm-10"></div>
                <div class="row">
                  <div class="col-md-5 col-sm-5">
                    <span class="chips-span">Direct</span> <span class="chips-span">Growth</span> 
                  </div>
                </div>
               
              </div>
             </div>

             <div class="col-md-7 col-sm-12 col-xs-12">
               <div class="row">
                 <div class="col-md-12 hidden-sm"><br></div>
               </div>
              <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Available Value</label>
                    <p class="">₹ 84.2735</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Available Units</label>
                    <p class="">129.2210</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Total Value</label>
                    <p class="">₹ 28460.93</p>
                  </div>
                 </div>

                 <div class="col-md-3 col-sm-3 col-xs-6">
                  <div class="value-div brdr-none">
                    <label>Total Units</label>
                    <p class="">129.2210</p>
                  </div>
                 </div>
              </div>
             </div>

            
           </div>

         </div>
       </div> <!-- Card Ends Here -->
        
      </div><!-- Trsanfer From Card Ends Here-->




        <div class="col-md-12">

          <!-- Card Starts Here -->
         <div class="l-card">
           <div class="l-card-head">
             <div class="row">
               <div class="col-md-8">
                 <p>Switch To</p>
               </div>
               <div class="col-md-4">
                
               </div>
             </div>
           </div>

           <div class="l-card-body">
          
            <div class="row">
              <div class="col-md-12 redemtion-details-div">
                <!-- <div class="tab">
                  <button class="tablinks active" onclick="openCity(event, 'fixed')" id="defaultOpen">Existing Fund</button>
                  <button class="tablinks" onclick="openCity(event, 'appriciation')">New Fund</button>
                </div> -->

                
                <ngb-tabset type="pills">
                    <ngb-tab title="Existing Fund">
                      <ng-template ngbTabContent>
                <div  class="tabcontent">
                  <br>
                  <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12">
                     <div class="form-group ">
                       <label>Choose a scheme for Switch*</label> 
                       <select>
                         <option>Aditya Birla Sun Life Corporate Bond Fund</option>
                         <option>Aditya Birla Sun LifeLiquid Fund</option>
                       </select> 
                       <div class="mrgn-btm-10"></div>
                       <div class="row">
                         <div class="col-md-5 col-sm-5">
                           <span class="chips-span">Direct</span> <span class="chips-span">Growth</span> 
                         </div>
                         
                       </div>
                      
                     </div>
                    </div>
     
                    <div class="col-md-7 col-sm-12 col-xs-12">
                      <div class="row">
                        <div class="col-md-12 hidden-sm"><br></div>
                      </div>
                     <div class="row">
                       <div class="col-md-3 col-sm-3 col-xs-6">
                         <div class="value-div brdr-none">
                           <label>Available Value</label>
                           <p class="">₹ 84.2735</p>
                         </div>
                        </div>
     
                        <div class="col-md-3 col-sm-3 col-xs-6">
                         <div class="value-div brdr-none">
                           <label>Available Units</label>
                           <p class="">129.2210</p>
                         </div>
                        </div>
     
                        <div class="col-md-3 col-sm-3 col-xs-6">
                         <div class="value-div brdr-none">
                           <label>Total Value</label>
                           <p class="">₹ 28460.93</p>
                         </div>
                        </div>
     
                        <div class="col-md-3 col-sm-3 col-xs-6">
                         <div class="value-div brdr-none">
                           <label>Total Units</label>
                           <p class="">129.2210</p>
                         </div>
                        </div>
                     </div>
                    </div>


                  </div>

                </div>
</ng-template>
</ngb-tab>
<ngb-tab title="New Fund">
    <ng-template ngbTabContent>
                <div  class="tabcontent">
                  <br>

                  <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="form-group ">
                        <label>Investment Solution</label> 
                        <select>
                          <option>All</option>
                          <option>Saving Solution</option>
                          <option>Wealth Creation Solution</option>
                          <option>Tax Saving Solution</option>
                          <option>Income Solutions</option>
                        </select> 
                      </div>
                     </div>

                     <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="form-group ">
                        <label>Category</label> 
                        <select>
                          <option>All</option>
                          <option>Equity</option>
                          <option>Hybrid</option>
                          <option>Solutions</option>
                          <option>Others</option>
                          <option>FOF</option>
                        </select> 
                      </div>
                     </div>

                     <div class="col-md-4 col-sm-12 col-xs-12">
                      <div class="form-group ">
                        <label>Sub Category</label> 
                        <select>
                          <option>All</option>
                          <option>Category Selection text</option>
                        </select> 
                      </div>
                     </div>


                     <div class="col-md-6 col-sm-12 col-xs-12">
                      <div class="form-group ">
                        <label>Select Fund</label> 
                        <select>
                          <option>Select Fund</option>
                          <option>Aditya Birla Sun Life Corporate Bond Fund</option>
                          <option>Aditya Birla Sun LifeLiquid Fund</option>
                        </select> 
                      </div>
                     </div>

                  </div>

                  <div class="devider"></div>

                  <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                        <label>Scheme Option*</label> 
                        <select>
                          <option>Dividend</option>
                          <option>Growth</option>
                        </select> 
                        
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                        <label>Dividend option*</label> 
                        <select>
                          <option>Re-Investment</option>
                          <option>Payout</option>
                        </select> 
                        
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                      <div class="form-group">
                        <label>Dividend frequency*</label> 
                        <select>
                          <option>Weekly</option>
                          <option>Monthly</option>
                        </select> 
                        
                      </div>
                    </div>
                  </div>
                
  
                </div>
            </ng-template>
        </ngb-tab>
                </ngb-tabset>


          
         </div> <!-- Card Ends Here -->
          
        </div>



    </div>


  </div><!-- Content Placeholder Starts Here -->



  

        </div>



        <!-- Trsanfer From Card Starts Here-->
      <div class="col-md-12">

        <!-- Card Starts Here -->
       <div class="l-card">
         <div class="l-card-head">
           <div class="row">
             <div class="col-md-8">
               <p>Mode of Switch</p>
             </div>
             <div class="col-md-4">
              
             </div>
           </div>
         </div>

         <div class="l-card-body">


          <div class="row">
            <div class="col-md-12">
              <!-- <ul class="tabs-v">
                <li class="tab-link current" data-tab="tab-1">Amonts</li> 
                <li class="tab-link" data-tab="tab-2">Units</li>
                <li class="tab-link" data-tab="tab-3">All Available Units</li>
              </ul> -->
              <ngb-tabset type="pills">
                <ngb-tab title="Amonts">
                  <ng-template ngbTabContent>
              <div id="tab-1" class="tab-content-v current">
                <br>
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label>Enter Amount*</label> <label class="flot-right">(Min 100)</label>
                      <input type="text" class="form-control" id="inputPassword" placeholder="Enter Amount*">
                      
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label class="color-white">.</label>
                      <input value="Available Amount : ₹ 2000" type="text" class="form-control" id="text" disabled>
                      
                    </div>
                  </div>

                  </div>
              </div>
              </ng-template>
              </ngb-tab>
              <ngb-tab title="Units">
                <ng-template ngbTabContent>
              <div id="tab-2" >
                
                <br>
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label>Enter Units*</label>
                      <input type="text" class="form-control" id="inputPassword" placeholder="Enter Amount*">
                      
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label class="color-white">.</label>
                      <input value="Available Units :500" type="text" class="form-control" id="text" disabled>
                      
                    </div>
                  </div>

                  </div>
                
              </div>
              </ng-template>
              </ngb-tab>
              <ngb-tab title="All Available Units">
                <ng-template ngbTabContent>
              
              <div id="tab-3">
                
                <br>
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="form-group">
                      <label class="">All Available Units</label>
                      <input value="Units :500" type="text" class="form-control" id="text" disabled>
                      
                    </div>
                  </div>

                  </div>
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                     
            <div class="grey-pannel mrgn-btm-10 m-top-10">
              <p>
                The available units/amount may differ at the time of actual processing of the transaction on account of factors like,lien marking removal, processing of any other pending transaction or any other valid reason. Please note the units/amount displayed is as per previous day NAV and the NAV applicable for the transaction would be as per the transaction date. If the available units/amount at the time of processing the request is lesser than the opted units/amount,then all the available units would be redeemed.
            </p></div>
                    </div>
                    </div>

             </div>
             </ng-template>
             </ngb-tab>
             </ngb-tabset>


            </div>
          </div>

          <style>
            ul.tabs-v li.current {
              background-color: #D9DCCB;
              border: 1px #6A7C55 solid !important;
              border-radius: 3px;
              padding: 4px 13px;
              text-decoration: none;
              color: #3f593c;
              }


              ul.tabs-v li {
                background-color: #fff;
              border: 1px #6c7174 solid !important;
              border-radius: 3px;
              padding: 4px 13px;
              text-decoration: none;
              color: #6c7174;
              margin-right: 8px;
              }



          </style>
         
         </div>
       </div> <!-- Card Ends Here -->
        
      </div><!-- Trsanfer From Card Ends Here-->





      <div class="col-md-12">

        <!-- Card Starts Here -->
       <div class="l-card">
         <div class="l-card-head">
           <div class="row">
             <div class="col-md-8">
               <p>Advisor Details</p>
             </div>
             <div class="col-md-4">
              
             </div>
           </div>
         </div>

         <div class="l-card-body">
           <div class="row">
            <div class="col-md-12">
              <div class="form-group">
               <p class="radio-heading">Are you investing through an advisor?*</p>
               <p>
                 <input type="radio" id="featured-1" name="featured" checked>
                 <label for="featured-1">Yes</label>
                
                 <input type="radio" id="featured-2" name="featured">
                 <label for="featured-2">No</label>
               </p>
             </div>
            </div>
            <div class="col-md-12">
             <ul class="value-li">
               <li>NAV<label> &nbsp 16.03</label></li>
               <li>NAV AS ON DATE :&nbsp  <label>12/03/2020 </label></li>
             </ul>
            </div>
          
           </div>

           <div class="row">
             <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="form-group">
                 <label>ARN*</label> 
                 <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Enter ARN Number">
               </div>
             </div>

             <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="form-group">
                 <label>Advisor Name</label> 
                 <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Enter Advisor Name">
               </div>
             </div>

             <div class="col-md-4 col-sm-4 col-xs-12">
               <div class="form-group">
                 <label>Sub - Advisor Code</label> 
                 <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Enter Sub Advisor Code">
               </div>
             </div>
           </div>


           <div class="row">
             <div class="col-md-3">
               <div class="form-group">
                 <label>EUIN*</label> 
                 <input class="form-control" type="text" id="formGroupInputLarge" placeholder="Enter EUIN Number">
                 <label class="pop-over-label">What is the EUIN Number ?<span title="" data-toggle="popover" data-placement="top" data-content="Lorem ipsum is placeholder text  used in the graphic" class="material-icons">error_outline</span></label>
               </div>
             </div>


             <div class="col-md-1">
               <div style="height: 27px;" class="col-md-12 hidden-xs hidden-sm"></div>
               <img src="./assets/icons/or.svg"/>
             </div>


             <div class="col-md-8">
               <br>
               <div class="terms-and-conditions">
                 
                 <div> <div class="check-bx-div">
                   <input type="checkbox" id="featured-4" name="featured-cb">
                   <label for="featured-4"></label>
                  </div> 
                  &nbsp &nbsp &nbsp &nbsp I/We hereby confirm that the EUIN box has been intentionally
                   left blank by me/us as this is an ‘execution-only’ transaction without any interaction or 
                   advice by the employee/relationship manager/sales person of the above distributor or 
                   notwithstanding the advice of in-appropriateness, if any, provided by the employee/relation
                   
                   ship manager/sales person of the distributor and the distributor has not charged any adviso
                   ry fees on this transaction</div>                 
                  </div>
             </div>

           </div>

          

           <div class="row">
             <div class="col-md-12">
               <br>
               <hr>
               <div class="info-div">
                 <p><strong>Note:</strong> In case the subscription (lumpsum) amount is (Rs.) 10,000/- or more and your Distributor has opted to receive Transaction Charges,(Rs.) 100/- (for investor other than first time mutual fund investor) will be deducted from the subscription amount and paid to the distributor. Units will be issued against the balance amount invested.</p>
               </div>
             </div>
           </div>

         </div>


       </div> <!-- Card Ends Here -->
        
      </div>




      <div class="col-md-12">
        <div class="form-button-div">
          <div class="row">
            <div class="col-md-8">
              
            </div>
            <div class="col-md-4 btn-alignment">
            <button class="btn btn-default-lrg">Back</button>
            <button class="btn btn-primary-lrg">Proceed</button>
            </div>
          </div>
        </div>
      </div>







</div><!-- Content Div Ends Here -->
</div>

