<div id="by-scheme" class="by-scheme-tc">

    <!-- card Strip Starts Here -->
    <div class="card-strip">
        <div id="myDIV" class="mys" >
          <div class="tab-header-content" [ngClass]=" flag ? 'primary' : 'secondary'">
            <div class="col-md-4">
              <p>Aditya Birla Sun Life Frontline Equity Fund</p>
              <span>Direct</span> <span>Growth</span>
            </div>
            <div class="visible-xs">
              <br>
            </div>
            <div class="col-md-8">
              <div class="row">
              <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="value-div">
                  <label>Current Value</label>
                  <p>₹55,728.01</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="value-div">
                  <label>Invested amount</label>
                  <p>₹51,999.80</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="value-div">
                  <label>Nav</label>
                  <p>₹419.3500</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="value-div">
                  <label>Unit</label>
                  <p>12.70</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="value-div">
                  <label>Profit / Loss</label>
                  <p class="value-profit">₹1,000.00</p>
                </div>
              </div>
              <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="value-div border-none">
                  <button type="button" class="btn btn-default" (click)="flag = !flag" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Transact <i class="large material-icons">keyboard_arrow_down</i></button>
                </div>
              </div>
            </div>
            </div>
          </div>                            
        </div>
      


      <div class="row collapse" id="collapseExample">
        <div class="col-md-12">
         

          <div class="expand-Div border-0">
            <div class="row">
              <div  class="col-md-12">
                <div class="row">
                  <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                  
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/invest-more.svg">
                    <label>INVEST MORE</label>
                  </a>
                  </div>
                  <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                    <a class="mrgn-b-15px" href="#">
                      <img src="./assets/icons/start-sip.svg"><br>
                      <label>START SIP</label>
                    </a>
                  </div>
                  <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                    <a class="mrgn-b-15px" href="#">
                      <img src="./assets/icons/redeem.svg"><br>
                      <label>REDEEM</label>
                    </a>
                  </div>
                  <div  align="center" class="col-md-2 col-sm-6 col-xs-6">
                    <a class="mrgn-b-15px" href="#">
                      <img src="./assets/icons/switch.svg"><br>
                      <label>SWITCH</label>
                    </a>
                  </div>
                  <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                    <a class="mrgn-b-15px" href="#">
                      <img src="./assets/icons/start-stp.svg "><br>
                      <label>START STP</label>
                    </a>
                  </div>
                  <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                    <a class="mrgn-b-15px" href="#">
                      <img src="./assets/icons/start-swp.svg"><br>
                      <label>START SWP</label>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 visible-xs border-btm mrgn-b-20px">
                <br>
              </div>
              <div class="col-md-4">
                <div class="cancel-div"></div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!-- card Strip Ends Here -->





    <!-- card Strip Starts Here -->
    <div class="card-strip">

      
      <div class="tab-activated-header">
        <div class="tab-header-content">
          <div class="col-md-4">
            <p>Aditya Birla Sun Life Frontline Equity Fund</p>
            <span>Direct</span> <span>Growth</span>
          </div>
          <div class="visible-xs">
            <br>
          </div>
          <div class="col-md-8">
            <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="value-div">
                <label>Current Value</label>
                <p>₹55,728.01</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="value-div">
                <label>Invested amount</label>
                <p>₹51,999.80</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="value-div">
                <label>Nav</label>
                <p>₹419.3500</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="value-div">
                <label>Unit</label>
                <p>12.70</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-6">
              <div class="value-div">
                <label>Profit / Loss</label>
                <p class="value-profit">₹1,000.00</p>
              </div>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
              <div class="value-div border-none">
                <button type="button" class="btn btn-default sst" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">Transact <i class="large material-icons">keyboard_arrow_down</i></button>
              </div>
            </div>
          </div>
          </div>
        </div>                            
      </div>
    


    <div class="row collapse" id="collapseExample3">
      <div class="col-md-12">
       

        <div class="expand-Div border-0">
          <div class="row">
            <div style="border-right: 1px #cdcece solid;" class="col-md-12">
              <div class="row">
                <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/invest-more.svg">
                  <label>INVEST MORE</label>
                </a>
                </div>
                <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/start-sip.svg"><br>
                    <label>START SIP</label>
                  </a>
                </div>
                <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/redeem.svg"><br>
                    <label>REDEEM</label>
                  </a>
                </div>
                <div  align="center" class="col-md-2 col-sm-6 col-xs-6">
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/switch.svg"><br>
                    <label>SWITCH</label>
                  </a>
                </div>
                <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/start-stp.svg "><br>
                    <label>START STP</label>
                  </a>
                </div>
                <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                  <a class="mrgn-b-15px" href="#">
                    <img src="./assets/icons/start-swp.svg"><br>
                    <label>START SWP</label>
                  </a>
                </div>
              </div>
            </div>
            <div class="col-xs-12 visible-xs border-btm mrgn-b-20px">
              <br>
            </div>
            <div class="col-md-4">
              <div class="cancel-div"></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div><!-- card Strip Ends Here -->




  <div class="card-strip">

      
    <div class="tab-activated-header">
      <div class="tab-header-content">
        <div class="col-md-4">
          <p>Aditya Birla Sun Life Frontline Equity Fund</p>
          <span>Direct</span> <span>Growth</span>
        </div>
        <div class="visible-xs">
          <br>
        </div>
        <div class="col-md-8">
          <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="value-div">
              <label>Current Value</label>
              <p>₹55,728.01</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="value-div">
              <label>Invested amount</label>
              <p>₹51,999.80</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="value-div">
              <label>Nav</label>
              <p>₹419.3500</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="value-div">
              <label>Unit</label>
              <p>12.70</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-6">
            <div class="value-div">
              <label>Profit / Loss</label>
              <p class="value-profit">₹1,000.00</p>
            </div>
          </div>
          <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="value-div border-none">
              <button type="button" id="bx-pager" (click)="onCLick()"  class="btn btn-default test" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample">Transact <i class="large material-icons">keyboard_arrow_down</i></button>
            </div>
          </div>
        </div>
        </div>
      </div>                            
    </div>
  


  <div class="row collapse" id="collapseExample4">
    <div class="col-md-12">
     

      <div class="expand-Div border-0">
        <div class="row">
          <div style="border-right: 1px #cdcece solid;" class="col-md-12">
            <div class="row">
              <div align="center" class="col-md-2 col-sm-6 col-xs-6">
              
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/invest-more.svg">
                <label>INVEST MORE</label>
              </a>
              </div>
              <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/start-sip.svg"><br>
                  <label>START SIP</label>
                </a>
              </div>
              <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/redeem.svg"><br>
                  <label>REDEEM</label>
                </a>
              </div>
              <div  align="center" class="col-md-2 col-sm-6 col-xs-6">
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/switch.svg"><br>
                  <label>SWITCH</label>
                </a>
              </div>
              <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/start-stp.svg "><br>
                  <label>START STP</label>
                </a>
              </div>
              <div align="center" class="col-md-2 col-sm-6 col-xs-6">
                <a class="mrgn-b-15px" href="#">
                  <img src="./assets/icons/start-swp.svg"><br>
                  <label>START SWP</label>
                </a>
              </div>
            </div>
          </div>
          <div class="col-xs-12 visible-xs border-btm mrgn-b-20px">
            <br>
          </div>
          <div class="col-md-4">
            <div class="cancel-div"></div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div><!-- card Strip Ends Here -->




<div class="card-strip">
  <div class="tab-activated-header">
    <div class="tab-header-content">
      <div class="col-md-4">
        <p>Aditya Birla Sun Life Frontline Equity Fund</p>
        <span>Direct</span> <span>Growth</span>
      </div>
      <div class="visible-xs">
        <br>
      </div>
      <div class="col-md-8">
        <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="value-div">
            <label>Current Value</label>
            <p>₹55,728.01</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="value-div">
            <label>Invested amount</label>
            <p>₹51,999.80</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="value-div">
            <label>Nav</label>
            <p>₹419.3500</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="value-div">
            <label>Unit</label>
            <p>12.70</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-6">
          <div class="value-div">
            <label>Profit / Loss</label>
            <p class="value-profit">₹1,000.00</p>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div class="value-div border-none">
            <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample">Transact <i class="large material-icons">keyboard_arrow_down</i></button>
          </div>
        </div>
      </div>
      </div>
    </div>                            
  </div>



<div class="row collapse" id="collapseExample5">
  <div class="col-md-12">
   

    <div class="expand-Div border-0">
      <div class="row">
        <div style="border-right: 1px #cdcece solid;" class="col-md-12">
          <div class="row">
            <div align="center" class="col-md-2 col-sm-6 col-xs-6">
            
            <a class="mrgn-b-15px" href="#">
              <img src="./assets/icons/invest-more.svg">
              <label>INVEST MORE</label>
            </a>
            </div>
            <div align="center" class="col-md-2 col-sm-6 col-xs-6">
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/start-sip.svg"><br>
                <label>START SIP</label>
              </a>
            </div>
            <div align="center" class="col-md-2 col-sm-6 col-xs-6">
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/redeem.svg"><br>
                <label>REDEEM</label>
              </a>
            </div>
            <div  align="center" class="col-md-2 col-sm-6 col-xs-6">
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/switch.svg"><br>
                <label>SWITCH</label>
              </a>
            </div>
            <div align="center" class="col-md-2 col-sm-6 col-xs-6">
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/start-stp.svg "><br>
                <label>START STP</label>
              </a>
            </div>
            <div align="center" class="col-md-2 col-sm-6 col-xs-6">
              <a class="mrgn-b-15px" href="#">
                <img src="./assets/icons/start-swp.svg"><br>
                <label>START SWP</label>
              </a>
            </div>
          </div>
        </div>
        <div class="col-xs-12 visible-xs border-btm mrgn-b-20px">
          <br>
        </div>
        <div class="col-md-4">
          <div class="cancel-div"></div>
          
        </div>
      </div>
    </div>
  </div>
</div>
</div><!-- card Strip Ends Here -->




  </div><!-- By Scheme Content Ends Here -->