<div class="content-wrapper">
    <div class="row">
      <div class="col-md-12">
          <div class="row">
          <div class="col-md-6 col-sm-6">
            <h1 class="page-heading">Account Statement</h1>
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs">
            <p class="helptext">All fields marked with * are mandatory <br>
              Need help? Call 1-800-270-7000</p>
          </div>
        </div>
      </div>
     

      <!-- Folio Card Start Here -->
      <div class="col-md-12">
        <div class="portfolio-card">
          
            <div class="row">
              <div class="col-md-7 col-sm-9">
                <ul class="folio-details-list">
                  <li> <P> FOLIO<label> &nbsp 1017099087</label></P></li>
                  <li><P><label> &nbsp Vijayaragavan Ramachari</label></P></li>
                </ul>
              </div>
              <div class="col-md-5 col-sm-3">
              <div class="value-div border-none">
                <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">Change Folio <i class="large material-icons">keyboard_arrow_down</i></button>
               </div>
              </div>
            </div>

            <div class="row collapse" id="collapseExample2">
              <div class="col-md-12">
                <div class="folio-inner-card">
                  <ul class="folio-li">
                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099087</label>  <span class="hidden-xs">| </span> Vijayaragavan Ramachari</P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/green-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li>
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099345</label> <span class="hidden-xs">| </span> Ramachari</P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                    <li class="brdr-none">
                      <div class="row">
                        <div class="col-md-7 col-xs-7">
                          <P><label>1017099123</label> <span class="hidden-xs">| </span> Devi</P>
                        </div>
                        <div class="col-md-5 col-xs-5">
                          <img src="./assets/icons/grey-tick.svg">
                        </div>
                      </div>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
        </div>
      </div><!-- Folio Card Start Here -->
      




       <div class="col-md-12">

         <!-- Card Starts Here -->
        <div class="l-card">
          <div class="l-card-head">
            <div class="row">
              <div class="col-md-8">
                <p>Statement Options</p>
              </div> 
              <div class="col-md-4">
               
              </div>
            </div>
          </div>

          <div class="l-card-body">
            
            <div class="row">
              <div class="col-md-4 col-sm-6 ">
                <div class="form-group">
                  
                  <div class="form-group">
                    
                        <label>Report Type*</label>
                        <div  class="dropdown">
                            <button  type="button" data-toggle="dropdown" class="form-control download-select dropdown-toggle"> Download Statements <i  aria-hidden="true" class="fa fa-angle-down"></i>
                            </button>
                            <ul  class="dropdown-menu"><li ><a >Account Statement</a></li>
                                <li><a  >Capital Gain Statement</a></li><li ><a >Exit Load Summary</a></li></ul></div>
                      </div>
                    
                 
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Report Type*</label> 
                    <select>
                      <option>-- Select Report Type --</option>
                      <option>Report  1</option>
                      <option>Report  2</option>
                      <option>Report  3</option>
                    </select> 
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Advisor/Broker Details*</label> 
                    <select>
                      <option>-- Select Advisor Details --</option>
                      <option>Details  1</option>
                      <option>Details  2</option>
                      <option>Details 3</option>
                    </select> 
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Financial Year*</label> 
                    <select>
                      <!-- <option>-- Select Financial Year --</option> -->
                      <option> FY 2020 - 2021 </option>
                      <option> FY 2019 - 2020 </option>
                      <option> FY 2018 - 2019 </option>
                      <option> Custom Date </option>
                    </select> 
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label>From Date</label> 
                  <input class="form-control" type="text" id="formGroupInputLarge" placeholder="DD/MM/YYYY">
                  
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label>To Date</label> 
                  <input class="form-control" type="text" id="formGroupInputLarge" placeholder="DD/MM/YYYY">
                  
                </div>
              </div>


            </div>

          </div>

        </div> <!-- Card Ends Here -->

      

        <div class="switch-card">

          <div class="switch-header">
            <div class="row">
              <div class="col-md-7 col-sm-7 col-xs-12">
                
             <p>Would you like to receive Account Statement on SMS?</p>
               
             </div>
             <div class="col-md-5 col-sm-5 col-xs-12">
              <table class="flot-right switch-m-align">
                <tr>
                  <td><label>No</label></td>
                  <td>
                    <label class="switch">
                      <input type="checkbox" checked>
                      <span class="slider"></span>
                    </label>
                  </td>
                  <td><label>Yes</label></td>
                </tr>
              </table>
             </div>
            </div>
          </div>
          <div class="switch-body">
            <div class="row">
              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  
                  <div class="form-group">
                    <label>Statement frequency?*</label> 
                    <select>
                      <option>-- Select Frequency --</option>
                      <option>Monthly</option>
                      <option>Weekly</option>
                      <option>Daily</option>
                    </select> 
                  </div>
                </div>
              </div>

              <div class="col-md-4 col-sm-6">
                <div class="form-group">
                  <label>Receive on*</label> 
                    <select>
                      <option>-- Select Date --</option>
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                    </select> 
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" checked>
                  <label for="vehicle1"> Unsubscribe (Unsubscribe to any existing subscriptions)</label>
               </div>
              </div>
              <div class="col-md-12">
                <button type="button" class="btn btn-default-1">Save</button>
              </div>
            </div>
          </div>
        </div>


       

      <div class="row">
        <div class="col-md-12">
          <div class="form-button-div">
            <div class="row">
              <div class="col-md-8">
               
                <div class="visible-xs"><br></div>
              </div>
              <div class="col-md-4 btn-alignment">
               <button class="btn btn-primary-lrg">Download Excel</button>
               <button class="btn btn-primary-lrg">Download PDF</button>
              </div>
            </div>
          </div>
        </div>
      </div>

       



    </div>


  </div><!-- Content Placeholder Starts Here -->


  </div>